@media only screen and (max-width: 1349px){}

.main-layout, .header, .site-map{
	float: none;
	width: 100%;
	box-shadow: none;
}
.news-articles {
	margin: 0 auto;
	max-width: 880px;
	border-right: 1px solid #f5f0dc;
}
.faq-list{
	max-width: 880px;
	margin: 0 auto;
}

.nav-layout {
	margin: 0 120px 0 60px;
}
.btn-aside{
	display: block;
}
.search-form{
	right: 60px;
}

.aside{
	position: fixed;
	right: 0;
	top: 60px;
	bottom: 0;
	width: 642px;
	overflow: auto;
	max-width: 100%;
	z-index: 99;
}
.aside,
.expanded-sidebar .aside{
	-webkit-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);
	transform: translate(100%, 0);
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.aside-panel-show .aside{
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.expanded-sidebar .aside-panel-show .aside{
	-webkit-transform: translate(150px, 0);
	-ms-transform: translate(150px, 0);
	transform: translate(150px, 0);
}
.aside__holder{
	background: #fff;
}
.aside-panel-overlay{
	width: 100%;
	height: 100%;
}