@media only screen and (max-width: 1349px){}

.main-layout, .header, .site-map{
	float: none;
	width: 100%;
	box-shadow: none;
}
.news-articles {
	margin: 0 auto;
	max-width: 880px;
	border-right: 1px solid #f5f0dc;
}
.faq-list{
	max-width: 880px;
	margin: 0 auto;
}

.aside{
	display: none;
}
