@media only screen and (max-width: 639px){}

h1{
	font-size: 30px;
	line-height: 38px;
	padding: 0 0 20px;
}
h2{
	font-size: 30px;
	line-height: 38px;
	padding: 0 0 20px;
}

/*content img*/
.imgc,
.imgl,
.imgr{
	float: none;
	display: block;
	margin: 0 0 20px;
	max-width: 100%;
	text-align: left;
	padding: 0;
}
/*content img end*/

/*header*/
.logo{ display: none; }
.logo-header{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 60px;
	height: 60px;
	border: none;
}
.logo-header > a,
.logo-header > div{
	padding: 15px 8px 0;
}
.btn-site-map{
	display: none;
}
/*header end*/

/*form-callback*/
.captcha-row{
	display: block;
}
.captcha-row .input-wrap{
	display: block;
}
.captcha-wrap{
	width: auto;
}
/*form-callback end*/

/*promo slider*/
.promo-slider {
	height: 300px;
}
.promo-slider .slick-arrow{
	width: 70px;
	height: 60px;
	display: none !important;
}
.promo-slider .slick-next:before{ left: 6px; }
.promo-slider .slick-prev:before{ right: 6px; }
.promo-slider__content{
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	min-height: 160px;
	margin-bottom: 12px;
}
.promo-slider__item footer,
.promo-slider__item .promo-slider__content{
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.promo-slider__item h3{
	font-size: 20px;
	line-height: 24px;
	max-height: 48px;
}
.promo-slider__text{
	font-size: 14px;
	line-height: 20px;
	max-height: 120px;
}
.promo-slider .slick-dots{
	bottom: 6px;
}
/*promo slider*/

/*pic slider*/
.pic-slider .slick-arrow{
	width: 70px;
	height: 60px;
}
.pic-slider .slick-next:before{ left: 6px; }
.pic-slider .slick-prev:before{ right: 6px; }
/*pic slider*/

/*sidebar*/
.sidebar{
	overflow: auto;
	-webkit-transform: translate(-224px, 0);
	-ms-transform: translate(-224px, 0);
	transform: translate(-224px, 0);
}
.btn-sidebar{
	display: block;
}
.sidebar-small{
	display: none;
}
.sidebar-large{
	width: 230px;
	border: none;
	-webkit-transform: translate(-6px, 0);
	-ms-transform: translate(-6px, 0);
	transform: translate(-6px, 0);
}
/*sidebar end*/

/*site map*/
.nav-bar__list>li {
	display: block;
	width: auto;
	padding: 10px 10px 30px;
}
/*site map end*/

/*local map*/
.local-map{
	height: 240px;
}
/*local map end*/

/*useful*/
.useful-links li{
	display: block;
	width: auto;
}
/*useful end*/

/*about info*/
.about-info__col:before {
	content: none;
}
.about-info__text,
.about-info__col-right .about-info__text {
	display: block;
	font-size: 16px;
	line-height: 24px;
	margin: 0 auto;
	padding: 0 0 30px;
	max-width: none;
}
.about-info__col{
	padding-top: 30px;
	padding-bottom: 0;
}
.about-info__text .text-inner{
	height: auto;
}
/*about info end*/

/*movie section*/
.movie .movie__item{
	display: block;
	width: auto;
}
.movie__video{
	width: 280px;
}
/*movie section end*/

/*call section*/
.call-list{
	padding-right: 75px;
}
.call-img {
	right: -78px;
	width: 180px;
}
/*call section end*/

/*tabs style default*/
.tab-controls li, .user-content .tab-controls li,
.tab-controls a span{
	font-size: 14px;
	line-height: 20px;
}
.tab-controls a{
	padding: 0 12px;
}
/*tabs style default end*/

/*advantages*/
.advantages-item{
	display: block;
	width: auto;
}
.advantages-item h3{
	margin: 0;
}
/*advantages end*/

/*cells-list / pay list*/
.cells-list >li, .user-content .cells-list >li{
	width: 50%;
}
/*cells-list / pay list end*/

/*terminals*/
.terminals-item{
	display: block;
	width: auto;
}
/*terminals end*/

/*info*/
.info{
	padding: 10px 0 20px;
}
.info-holder,
.info-row{
	display: block;
}
.info-item{
	display: block;
	padding: 20px 0 0;
	border: solid #e6e6e6;
	border-width: 1px 0 0;
}
/*info end*/

/*easy*/
.easy{
	padding: 30px 0;
}
.easy-bg{
	display: none;
}
.easy h3{
	padding: 0 0 35px;
}
.easy-list{
	margin: 0;
}
.easy-item{
	display: block;
	float: none;
	width: auto;
	padding: 35px 0 0;
}
.easy-item:first-child{
	padding-top: 0;
}
.easy-img{ padding: 0 0 10px; }
/*easy end*/

/*faq list*/
.faq-item__angle{
	left: 16px;
}
.faq-list h3{
	padding: 20px 16px 17px 45px;
}
.faq-item p{
	padding-left: 16px;
	padding-right: 16px;
}
/*faq list end*/

/*actions*/
.actions__inner{
	padding: 8.2%;
}
.actions__align{
	float: none;
	width: auto;
	height: auto;
	min-width: 0;
}
.actions__visual,
.actions__item-lg .actions__visual{
	position: relative;
	left: auto;
	top: auto;
	height: 134px;
	width: 174px;
	margin: 0 auto 30px;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.actions__img,
.actions__item-lg .actions__img{
	width: 146px;
	height: 146px;
	margin-left: -73px;
}
.actions__visual-ribbon,
.actions__item-lg .actions__visual-ribbon {
	height: 15px;
	width: 168px;
	margin-left: -84px;
}
.actions__content,
.actions__item-alt .actions__content{
	margin: 0;
	top: auto;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
/*actions end*/

/*layout main blocks*/
.main-layout,
.header,
.site-map{
	padding-left: 6px;
}

.expanded-sidebar .main-layout,
.expanded-sidebar .site-map{
	-webkit-transform: translate(224px, 0);
	-ms-transform: translate(224px, 0);
	transform: translate(224px, 0);
}
.expanded-sidebar .header{
	-webkit-transform: translate(224px, -100%);
	-ms-transform: translate(224px, -100%);
	transform: translate(224px, -100%);
}
.expanded-sidebar .aside{
	-webkit-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);
	transform: translate(100%, 0);
}
.expanded-sidebar .aside-panel-show .aside{
	-webkit-transform: translate(224px, 0);
	-ms-transform: translate(224px, 0);
	transform: translate(224px, 0);
}
.expanded-sidebar .top-panel-show .header,
.expanded-sidebar .aside-panel-show .header{
	-webkit-transform: translate(224px, 0);
	-ms-transform: translate(224px, 0);
	transform: translate(224px, 0);
}
.expanded-sidebar .btn-sidebar{
	-webkit-transform: translate(224px, 0);
	-ms-transform: translate(224px, 0);
	transform: translate(224px, 0);
}
/*layout main blocks end*/