@media only screen and (max-width: 767px){}

/*files item*/
.files .files-item{
	display: block;
	width: auto;
}
/*files item end*/

/*movie section*/
.movie .movie__item{
	width: 49.98%;
}
/*movie section end*/