@media only screen and (max-width: 979px){}

/*form style*/
.form-row {
	margin: 0;
	padding: 0;
}
.form-row .input-wrap{
	display: block;
	width: auto;
	padding-left: 0;
	padding-right: 0;
}
/*form style end*/

/*files item*/
.files .files-item{
	width: 49.98%;
}
/*files item end*/

/*site map*/
.nav-bar__list>li.align-left{
	float: none;
}
.nav-bar__list>li{
	width: 49.98%;
}
/*site map end*/

/*main navigation*/
.nav-list{
	display: none;
}
/*main navigation end*/

/*news articles*/
.news-article {
	float: none;
	width: auto;
}
.news-article_lg a {
	height: auto;
}
.news-article h3{
	height: auto;
}
/*news articles end*/

/*advantages*/
.advantages-item{
	width: 49.98%;
}
/*advantages end*/

/*info*/
.info-item:first-child{
	padding-left: 0;
}
.info-item:last-child{
	padding-right: 0;
}
/*info end*/

/*about info*/
.about-info:before,
.about-info:after{
	content: none;
}
.about-info__col{
	float: none;
	width: auto;
	margin: 0 -9999px;
	padding-left: 9999px;
	padding-right: 9999px;
}
.about-info__col:before{
	height: 230px;
}
.about-info__col-left {
	background: #f2f2f2;
	text-align: center;
}
.about-info__col-right {
	background: #e6e6e6;
	text-align: center;
	direction: rtl;
}
.about-info__text{
	width: auto;
	max-width: 300px;
	padding-bottom: 30px;
}
.about-info__col-right .about-info__text{
	margin-right: 0;
	margin-left: 25px;
}
.about-info__text .text-inner{
	height: 144px;
}
.about-info__img{
	height: 200px;
	overflow: hidden;
}
/*about info end*/

/*call section*/
.call-content{
	padding-bottom: 20px;
	padding-right: 0;
}
.call-description {
	padding: 0 0 39px;
}
.call-img {
	right: 100px;
}
.call-list{
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 325px;
	min-height: 270px;
}
.call-item{
	display: block;
	padding: 0 0 40px;
}
.call-item:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 80px;
	border: none;
	border-top: 1px solid #ccc;
	margin-top: -20px;
}
.call-item__text{
	width: 100%;
}
/*call section end*/

/*useful*/
.useful-links li{
	width: 49.48%;
}
/*useful end*/
