@import url(fonts.css);
@import url(normalize.css);
@import url(buttons.css);
@import url(sp.css);
@import url(widgets.css);

/*fonts*/
/*@import url(fonts.css);*/
/*fonts end*/

/*normalize*/
/*@import url(normalize.css);*/
/*normalize end*/

/*------ TYPOGRAPHIC STYLES ------*/
body{
	font: 16px/24px 'pfbeausanspro-thin', Arial, Helvetica, sans-serif;
	height: 100%;
	color: #333;
	background: #fff;
	min-width: 320px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'pfbeausanspro-bold-italic', Arial, Helvetica, sans-serif;
	margin: 0;
	color: #f29700;
}
h1{
	font-size: 38px;
	line-height: 40px;
	letter-spacing: -0.05em;
	padding: 0 0 20px;
}
h2{
	font-size: 36px;
	line-height: 38px;
	letter-spacing: -0.05em;
	padding: 0 0 20px;
}
h3{
	font-size: 20px;
	line-height: 24px;
	font-family: 'pfbeausanspro-semibold-italic', Arial, Helvetica, sans-serif;
	padding: 0 0 15px;
}
h4{
	font-size: 16px;
	line-height: 24px;
	font-family: 'pfbeausanspro-semibold-italic', Arial, Helvetica, sans-serif;
	padding: 0 0 10px;
}
h5{
	font-size: 16px;
	line-height: 20px;
	font-family: 'pfbeausanspro-semibold-italic', Arial, Helvetica, sans-serif;
	padding: 0 0 5px;
}
h6{
	font-size: 14px;
	line-height: 18px;
	font-family: 'pfbeausanspro-semibold-italic', Arial, Helvetica, sans-serif;
	padding: 0 0 5px;
}
p{
	padding: 0 0 20px;
	margin: 0;
}
hr{
	line-height: 1px;
	height: 0;
	border: none;
	background: none;
	border-bottom: 1px solid #000;
	margin-bottom: 25px;
}
a{
	color: #f29700;
	outline: none;
	text-decoration: underline;
	cursor: default;
}
a:link{
	cursor: pointer;
}
a:hover{
	text-decoration: none;
}
img{
	border: none;
	vertical-align: top;
	max-width: 100%;
}
b, strong, th{
	font-family: 'pfbeausanspro-bold', Arial, Helvetica, sans-serif;
	font-weight:normal;
}
i, em{
	font-family: 'pfbeausanspro-thin-italic', Arial, Helvetica, sans-serif;
	font-style:normal;
}
i b,
i strong
em b,
em strong,
b i,
b em,
strong i,
strong em{
	font-family: 'pfbeausanspro-thin', Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-style:normal;
}
/*------ TYPOGRAPHIC STYLES end ------*/

/*sp*/
/*@import url(sp.css);*/
/*sp end*/

/*btn*/
/*@import url(buttons.css);*/

/*btn-default*/
.btn-default,
input[type="submit"],
input[type="button"],
input[type="reset"],
button{
	font: 16px/18px 'pfbeausanspro-thin', Arial, Helvetica, sans-serif;
	letter-spacing: 0.05em;
	color: #fff;
	padding: 10px 37px;
	position: relative;
	background: #f29700;
	border-radius: 20px;
	border: 1px solid transparent;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
}
.btn-default:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
button:hover{
	background: #ffac05;
}
.btn-default:active{
	bottom: -1px;
}
/*btn-default end*/
/*btn end*/

/*USER CONTENT*/
.user-content{
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.full-page{
	padding: 0;
}
.user-content *+h2,
.user-content *+h3,
.user-content *+h4,
.user-content *+h5{
	padding-top: 30px;
}

/*unordered list (UL) styling*/
.user-content ul{
	margin:0;
	padding: 0 0 10px 40px;
	list-style:none;
}
.user-content ul li{
	padding: 10px 0 0 15px;
	position: relative;
}
.user-content ul li:first-child{
	padding-top: 0;
}
.user-content ul li:before{
	content: '';
	position: absolute;
	left: 0;
	top: 19px;
	height: 0;
	width: 0;
	border: 3px solid #f29700;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.user-content ul li:first-child:before{
	top: 9px;
}
.user-content ul ul{
	padding: 0 0 0 25px;
}
.user-content ul ul li:before,
.user-content ul ul li:first-child:before{
	height: 0;
	width: 8px;
	border-width: 1px 0;
	border-radius: 0;
	top: 21px;
}
.user-content ul ul li:first-child,
.user-content ol ul li:first-child{
	padding-top: 10px;
}
.user-content ul ul ul li:before,
.user-content ul ul ul li:first-child:before{
	height: 6px;
	width: 6px;
	top: 19px;
	border-width: 2px;
	border-radius: 50%;
}
/*unordered list (UL) end*/

/*ordered list (OL)*/
.user-content ol{
	counter-reset: section;
	margin: 0;
	list-style: none;
	padding: 0 0 0 40px;
}
.user-content ol:after{
	content: "";
	display: block;
	clear: both;
}
.user-content ol > li{
	counter-increment: section;
	height: 1%;
	overflow: hidden;
	padding: 0 0 10px;
}
.user-content ol > li:before{
	display: inline-block;
	text-align: left;
	color: #f29700;
	min-width: 18px;
	content: counter(section) ".";
	padding: 0 5px 0 0;
}
.user-content ol ul li:first-child:before{
	top: 21px;
}
/*ordered list (OL) end*/

/*default table*/
table{
	border-collapse: collapse;
	border-spacing: 0;
}
table td,
table th{
	padding: 8px;
	border: 1px solid #0f4b01;
	font-size: 14px;
	line-height: 1.4;
}
/*default table end*/

/*table styling*/
.table_auto{
	overflow: auto;
	max-width: 100%;
	-webkit-overflow-scrolling: touch;
	margin: 0 0 20px;
}
.user-content .tbl{
	table-layout: fixed;
	border: 1px solid #e2dbbe;
	margin-bottom: 20px;
}
.table_auto .tbl{
	margin: 0;
}
.user-content .tbl td,
.user-content .tbl th{
	font: 14px/20px Arial, Helvetica, sans-serif;
	color: #808080;
	background-color: #fff;
	border: solid #e2dbbe;
	border-width: 0 0 0 1px;
	padding: 13px 12px;
}
.user-content .tbl tbody tr:nth-child(even) td{
	background: #fcf7e3;
	color: #f29700;
}
.user-content .tbl td:first-child{
	text-align: left;
}
.user-content .tbl tbody td:first-child,
.user-content .tbl tfoot td:first-child{
	border-left-width: 0;
}
.user-content .tbl th,
.user-content .tbl thead td{
	line-height: 17px;
	color: #fff;
	background: #f29700;
	padding: 16px 12px 17px;
}
.user-content .tbl tfoot td{
	background: #fef5d4;
	color: #f29700;
}
/*table styling end*/

/*blockquote (div)*/
.blockquote{
	background-color: #fcf7e3;
	border-left: 3px solid #0f4b01;
	padding: 30px 35px 28px 30px;
}
.blockquote .q{
	display: block;
	margin: 0;
	padding: 0 0 14px;
}
.blockquote .q p{
	padding: 0 0 10px;
}
.blockquote .cite{
	text-align: right;
	display: block;
	margin-left: auto;
	font: 14px/22px Arial, Helvetica, sans-serif;
}
.blockquote .cite-holder{
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
/*blockquote (div) end*/

/*blockquote*/
.user-content blockquote{
	display: block;
	margin: 0;
	background-color: #fcf7e3;
	border-left: 3px solid #0f4b01;
	padding: 18px 32px 28px 42px;
}
.user-content blockquote q{
	display: block;
	margin: 0;
	padding: 0 0 10px;
	font: italic 18px/24px 'Times New Roman', Times, serif;
	letter-spacing:0.05em;
	color: #808080;
}
.user-content blockquote q:before,
.user-content blockquote q:after{
	content: '';
	display: block;
	font-size: 24px;
	line-height: 28px;
}
.user-content blockquote q:before{
	content: '«';
	padding-left: 17%;
	padding-bottom: 10px;
}
.user-content blockquote q:after{
	content: '»';
	text-align: right;
	padding-right: 18.5%;
	padding-top: 8px;
}
.user-content blockquote cite{
	text-align: right;
	display: block;
	margin-left: auto;
	font: italic 20px/24px 'Times New Roman', Times, serif;
	color: #333;
}
/*blockquote end*/

/*content img*/
.imgc{
	text-align: center;
	padding-bottom: 30px;
	clear: both;
}
.imgl{
	text-align: left;
	float: left;
	margin: 0 30px 20px 0;
	max-width: 50%;
}
.imgr{
	text-align: right;
	float: right;
	margin: 0 0 20px 30px;
	max-width: 50%;
}
/*content img end*/

/*aligned content*/
.align-center{
	text-align: center;
}
/*aligned content end*/

/*elements form style*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea{
	display: block;
	color: #333;
	font: 14px/16px Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	height: 34px;
	width: 100%;
	padding: 8px 13px;
	background: #fff;
	box-shadow: none;
	border: 1px solid #0f4b01;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 28px;
}
.input-wrap input[type="text"],
.input-wrap input[type="password"],
.input-wrap input[type="email"],
.input-wrap input[type="search"],
.input-wrap textarea{
	margin: 0;
}
textarea{
	padding: 8px 13px;
	min-height: 114px;
	height: 114px;
	line-height: 16px;
	resize: vertical;
}
/*placeholder style*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{ color: #666; transition: 0.2s; -webkit-transition: 0.2s; }
input:-moz-placeholder,
textarea:-moz-placeholder{ color: #666; transition: 0.2s; -webkit-transition: 0.2s; }
input::-moz-placeholder,
textarea::-moz-placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
input.placeholder,
textarea.placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
/*placeholder style end*/
/*placeholder hidden*/
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder{ color: transparent !important; }
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{ color: transparent !important; }
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder{ color: transparent !important; }
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder{ color: transparent !important; }
input.placeholder:focus,
textarea.placeholder:focus{ color: transparent !important; }
/*placeholder hidden end*/
/*form focus*/
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus{
	box-shadow: 0 0 5px rgba(15, 75, 1, 0.41);
}
/*form focus end*/
/*form error*/
input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="search"].error,
textarea.error{
	color: #cf2f09;
	border-color: #cf2f09;
	box-shadow: 0 0 5px rgba(207, 47, 9, 0.41);
}
input.error::-webkit-input-placeholder,
textarea.error::-webkit-input-placeholder{ color: #cf2f09; }
input.error:-moz-placeholder,
textarea.error:-moz-placeholder{ color: #cf2f09; }
input.error::-moz-placeholder,
textarea.error::-moz-placeholder{ color: #cf2f09; opacity: 1; }
input.error:-ms-input-placeholder,
textarea.error:-ms-input-placeholder{ color: #cf2f09; opacity: 1; }
input.error .placeholder,
textarea.error .placeholder{ color: #cf2f09; opacity: 1; }
/*form error end*/
/*radio and checkbox*/
input[type="radio"]{ float: left; height: 15px; width: 16px; margin: 0; padding: 0; }
input[type="checkbox"]{ width: 16px; height: 16px; padding: 0; margin: 0; }
/*radio and checkbox end*/
/*form error end*/
.form-row,
.input-wrap{ padding: 0 0 28px; }
.form-row {
	font-size: 0;
	letter-spacing: -4px;
	margin: 0 -15px;
}
.form-row .input-wrap{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.label-holder{ padding: 0 0 10px; }
.label-holder,
label{ color: #333; }
/*elements form style end*/

/*download files items*/
/*depict files*/
[class|="depict-files"],
[class*=" depict-files-"]{
	background:url(../img/sprite-files.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
.depict-files-pdf{ background-position: 0 0; width: 39px; height: 46px; }
.depict-files-xls{ background-position: 0 -66px; width: 39px; height: 46px; }
.depict-files-doc{ background-position: 0 -132px; width: 39px; height: 46px; }
.depict-files-zip{ background-position: 0 -198px; width: 39px; height: 46px; }
.depict-files-jpg{ background-position: 0 -264px; width: 39px; height: 46px; }
/*depict files end*/

/*files item*/
.files{
	padding: 0 0 20px;
	margin-left: -30px;
	font-size: 0;
	letter-spacing: -4px;
}
.files-item{
	font-size: 14px;
	line-height: 18px;
	letter-spacing: normal;
}
.files .files-item{
	display: inline-block;
	vertical-align: top;
	width: 33.29%;
	padding: 0 0 48px 30px;
}
.file{
	font-size: 14px;
	line-height: 18px;
	padding: 0 0 0 53px;
	position: relative;
	min-height: 46px;
}
.file__title{
	padding: 5px 0 7px;
}
.file__title a{
	text-decoration: none;
	margin: 0 0 0 -53px;
	display: inline-block;
	padding: 0 0 0 53px;
}
.file__title a span{
	padding-top: 5px;
	text-decoration: underline;
}
.file__title a:hover span{
	text-decoration: none;
}
.file [class*="depict-files-"]{
	position: absolute;
	left: 0;
	top: 0;
}
.file__info{
	color: #666;
}
/*files item end*/
/*download files items end*/
/* breadcrumbs */
.breadcrumbs{
	font-size: 12px;
	line-height: 14px;
	color: #000;
	padding: 0 0 20px;
}
.breadcrumbs-list,
.user-content .breadcrumbs-list{
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
}
.breadcrumbs-list li,
.user-content .breadcrumbs-list li{
	padding: 0 10px 10px 12px;
	float: left;
	position: relative;
}
.user-content .breadcrumbs-list li:before{
	content: '/';
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	background: none;
	border: none;
}
.breadcrumbs-list li:first-child{
	padding-left: 0;
	background: none;
}
.breadcrumbs-list li:first-child:before,
.user-content .breadcrumbs-list li:first-child:before{
	content: none;
}
.breadcrumbs-list a{
	color: #f29700;
	text-decoration: underline;
}
.breadcrumbs-list a:hover{
	text-decoration: none;
}
/* breadcrumbs end */
/*USER CONTENT end*/

/*MAIN BLOCKS*/
.wrapper{
	position: relative;
	padding-left: 80px;
	overflow: hidden;
	max-width: 3440px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*if lt ie9*/
.lt-ie9 .wrapper{ display: none; }
/*if lt ie9 end*/
.main-layout{
	float: left;
	width: 880px;
	padding: 60px 0 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.main{
	padding: 0;
	position: relative;
	background: #fff;
	clear: both;
	z-index: 4;
}
.content{ overflow: hidden; }
.footer{
	margin: 0 auto;
	position: relative;
	clear: both;
}

.aside{
	margin-left: 880px;
	padding: 0 20px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*MAIN BLOCKS end*/

/*HEADER*/
.header{
	position: fixed;
	top: 0;
	width: 880px;
	background: #0f4b01;
	z-index: 5;
	-webkit-transform: translateZ(0) translateY(-100%);
	-ms-transform: translateZ(0) translateY(-100%);
	transform: translateZ(0) translateY(-100%);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.header-layout{
	min-width: 320px;
}
.top-panel-show .header{
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.header-layout:before,
.header-layout:after { content: ""; display: table; }
.header-layout:after { clear: both; }

/*main navigation*/
.nav{ margin: 0 116px 0 68px; }
.nav-list{
	list-style: none;
	padding: 0;
	margin: 0;
	display: table;
	width: 100%;
}
.nav-list>li{
	display: table-cell;
}
.nav-list>li>a{
	display: block;
	padding: 21px 6px;
	font: 14px/18px 'pfbeausanspro-semibold', Arial, Helvetica, sans-serif;
	letter-spacing: 0.05em;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	text-transform: uppercase;
	text-decoration: none;
	background: #0f4b01;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.nav-list>li.active>a{
	color: #333;
}
.nav-list>li>a:before{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	height: 22px;
	width: 0;
	margin: -11px 0 0;
	border-left: 1px solid #3f6f34;
}
.nav-list>li:first-child>a:before{ content: none; }
.nav-list>li>a:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 100%;
	border-bottom: 0 solid transparent;
	background: #fff;
	-webkit-transition-property: height, border, background;
	transition-property: height, border, background;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.nav-list>li>a:hover:after{
	height: 4px;
}
.nav-list>li.active>a:after{
	width: 100%;
	height: 59px;
	border-width: 0 0 1px;
	border-color: #f5f0dc;
}
.nav-list>li>a>span{
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 1;
}
/*main navigation end*/

/*button menu*/
.btn-menu{
	position: absolute;
	left: 0;
	top: 0;
	width: 67px;
	height: 59px;
	background: #0f4b01;
	border: none;
	border-right: 1px solid #3f6f34;
	border-bottom: 1px solid transparent;
	-webkit-transition-property: border, background;
	transition-property: border, background;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	cursor: pointer;
}
.btn-menu:hover,
.btn-menu:active,
.btn-menu.active{
	background: #fff;
	border-color: #f5f0dc;
}
.btn-lines{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 23px;
	height: 17px;
	margin: -9px 0 0 -12px;
}
/*for all line btn menu*/
.btn-lines span{
	position: absolute;
	left: 0;
	top: 0;
	width: 23px;
	height: 3px;
	background: #fff;
	-webkit-transition: all 0.4s cubic-bezier(1, 0, 0, 1), background 0.2s cubic-bezier(1, 0, 0, 1);
	transition: all 0.4s cubic-bezier(1, 0, 0, 1), background 0.2s cubic-bezier(1, 0, 0, 1);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.btn-menu:hover .btn-lines span{
	background: #333;
}
/*for all line btn menu end*/
/*first line btn menu*/
.btn-lines > span:nth-child(1){ top: 0; }
/*.btn-menu.active .btn-lines > span:nth-child(1){
	-webkit-transform: rotate(-315deg) translate(6px, 10px);
	-ms-transform: rotate(-315deg) translate(6px, 11px);
	transform: rotate(-315deg) translate(6px, 11px);
	width: 17px;
}*/
/*first line btn menu end*/
/*second line btn menu*/
.btn-lines > span:nth-child(2){ top: 7px; }
/*.btn-menu.active .btn-lines > span:nth-child(2){
	-webkit-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);
	transform: rotate(-360deg);
}*/
/*second line btn menu end*/
/*third line btn menu*/
.btn-lines > span:nth-child(3){ top: 14px; }
/*.btn-menu.active .btn-lines > span:nth-child(3){
	-webkit-transform: rotate(-405deg) translate(6px, -11px);
	-ms-transform: rotate(-405deg) translate(6px, -11px);
	transform: rotate(-405deg) translate(6px, -11px);
	width: 17px;
}*/
/*third line btn menu end*/
/*button menu end*/

/*site map*/
.site-map{
	position: fixed;
	top: -9999px;
	left: -9999px;
	width: 880px;
	height: 100%;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 98;
}
.site-map-show .site-map{
	top: 0;
	left: 80px;
}

.site-map-overlay{
	position: fixed;
	left: 80px;
	top: 0;
	height: 0;
	width: 880px;
	z-index: 97;
	-webkit-transition-property: height;
	transition-property: height;
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}
.site-map-show .site-map-overlay{
	height: 100%;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.site-map-overlay:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	background: #fcf7e3;
	/*background: #ffb106;*/
	/*background: -moz-linear-gradient(top, #ffb106 0%, #ffaa06 20%, #ff8c08 72%, #ff8108 100%);*/
	/*background: -webkit-linear-gradient(top, #ffb106 0%,#ffaa06 20%,#ff8c08 72%,#ff8108 100%);*/
	/*background: linear-gradient(to bottom, #ffb106 0%,#ffaa06 20%,#ff8c08 72%,#ff8108 100%);*/
	-webkit-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
	transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}
.site-map-show .site-map-overlay:before{
	width: 100%;
	height: 100%;
}

.btn-menu-close{
	position: absolute;
	left: 20px;
	top: 20px;
	width: 24px;
	height: 24px;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	-webkit-transition: opacity 0.2s 1.5s;
	transition: opacity 0.2s 1.5s;
}
.site-map-show .btn-menu-close{ opacity: 1; }
.btn-menu-close:before,
.btn-menu-close:after{
	content: '';
	position: absolute;
	left: 0;
	top: 10px;
	height: 3px;
	width: 24px;
	border-radius: 3px;
	background: #0f4b01;
}
.btn-menu-close:before{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.btn-menu-close:after{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.site-map-holder{
	height: 100%;
	overflow: auto;
	padding: 20px 50px;
	position: relative;
	z-index: 1;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.site-map-show .site-map-holder{
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
/*site map end*/

/*search form*/
.search-form{
	width: 116px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	background: #fbcd2a;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: width 0.2s;
	transition: width 0.2s;
}
.form-opened .search-form{
	width: 100%;
}
.search-form form{
	position: relative;
}
.search-form .input-wrapper{
	padding: 0 67px 0 49px;
	opacity: 0;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}
.form-opened .search-form .input-wrapper{
	opacity: 1;
}
.search-form input[type="search"],
.search-form input[type="text"]{
	color: #0f4b01;
	font: 16px/20px Tahoma, Geneva, sans-serif;
	padding: 20px 0;
	height: 60px;
	background: none;
	box-shadow: none;
	border: none;
	margin: 0;
}
.search-form input[type="search"]::-webkit-input-placeholder{ color: #0f4b01 !important; }
.search-form input[type="search"]:-moz-placeholder{ color: #0f4b01 !important; }
.search-form input[type="search"]::-moz-placeholder{ color: #0f4b01 !important; }
.search-form input[type="search"]:-ms-input-placeholder{ color: #0f4b01 !important; }
.search-form input[type="search"].placeholder{ color: #0f4b01 !important; }

/*search submit*/
.btn-search{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 49px;
	z-index: 2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.btn-search i{
	position: absolute;
	top: 50%;
	left: 17px;
	width: 21px;
	height: 17px;
	margin: -9px 0 0;
}
.btn-search i:before,
.btn-search i:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	border: solid #136301;
}
.btn-search i:before{
	width: 11px;
	height: 11px;
	border-width: 3px;
	border-radius: 50%;
}
.btn-search i:after{
	left: 14px;
	top: 14px;
	width: 1px;
	height: 4px;
	border-width: 1px;
	border-radius: 3px;
	background: #136301;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.btn-search input[type="submit"]{
	padding: 0;
	border: none;
	background: none;
	margin: 0;
}
/*search submit end*/

/*search form opener*/
.btn-search-open{
	position: absolute;
	right: 0;
	top: 0;
	width: 67px;
	height: 100%;
	background: #fbcd2a;
	color: #136301;
	font: 14px/60px 'pfbeausanspro-semibold', Arial, Helvetica, sans-serif;
	text-align: left;
	cursor: pointer;
	z-index: 1;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: width 0.2s;
	transition: width 0.2s;
}
.btn-search-open span{
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.form-opened .btn-search-open{
	width: 50px;
}
.form-opened .btn-search-open span{
	opacity: 0;
}

.btn-search-open:before,
.btn-search-open:after{
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	height: 2px;
	width: 22px;
	margin: -1px 0 0 -11px;
	background: #0f4b01;
	border-radius: 5px;
	opacity: 0;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.btn-search-open:before{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.btn-search-open:after{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.form-opened .btn-search-open:before,
.form-opened .btn-search-open:after{
	opacity: 1;
}
	/*search form opener end*/
/*search form end*/
/*HEADER end*/

/*MAIN*/
.title-box{ padding: 29px 30px 17px; }
.title-box h2{
	font-size: 36px;
	line-height: 40px;
	letter-spacing: -0.05em;
	padding: 0 0 12px;
}
.title-box p{
	margin: 0 auto;
	padding: 0 0 12px;
	width: 700px;
	max-width: 100%;
}
.section-footer{
	padding: 46px 30px;
	background: #fff;
	position: relative;
	z-index: 1;
}
/*catalog menu*/
.catalog-menu{
	background: #fff;
	position: relative;
}
.catalog-menu-list{
	list-style: none;
	padding: 0;
	margin: 0 0 0 -1px;
	overflow: hidden;
	display: none;
}
html.no-js .catalog-menu-list{
	display: block;
}
.catalog-menu-list li{
	float: left;
	width: 50%;
	padding: 0 0 1px 1px;
	position: relative;
	opacity: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition-property: background, opacity;
	transition-property: background, opacity;
	-webkit-transition-duration: 0.2s, 0.5s;
	transition-duration: 0.2s, 0.5s;
}
html.no-js .catalog-menu-list li,
.catalog-menu-list.menu-active li{
	opacity: 1;
}
.catalog-menu-list li:hover{
	background: #fef5d4;
}
.catalog-menu-list li:before,
.catalog-menu-list li:after{
	content: '';
	position: absolute;
	right: 34px;
	top: 50%;
	height: 0;
	width: 9px;
	border-top: 2px solid #ccc;
}
.catalog-menu-list li:before{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: -3px 0 0;
}
.catalog-menu-list li:after{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin: 2px 0 0;
}
.catalog-menu-list li:hover:before,
.catalog-menu-list li:hover:after{
	border-color: #f29700;
}
.catalog-menu-list a{
	height: 80px;
	padding: 0 50px 0 35px;
	font: 16px/20px 'pfbeausanspro-regular', Arial, Helvetica, sans-serif;
	color: #808080;
	display: block;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 0 1px #f5f0dc;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.catalog-menu-list a:hover{
	color: #f29700;
	box-shadow: 0 0 0 1px #fef5d4;
	z-index: 1;
}
.catalog-menu-list a:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.catalog-menu-list a span{
	display: inline-block;
	vertical-align: middle;
}

.catalog-menu-shadow{
	height: 10px;
	margin: 0 0 -10px;
	position: relative;
	box-shadow: 0 0 12px transparent;
	-webkit-transition: box-shadow 0.6s;
	transition: box-shadow 0.6s;
}
.catalog-menu.sliding + .catalog-menu-shadow{
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}
/*catalog menu*/

/*promo slider*/
.promo-slider{
	height: 474px;
	margin: 0;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.promo-slider .slick-list,
.promo-slider .slick-track{ height: 100%; }
.promo-slider__item{
	height: 100%;
	position: relative;
	overflow: hidden;
}
.promo-slider__bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}
.promo-slider__content{
	width: 640px;
	max-width: 100%;
	padding: 106px 0 0;
	margin: 0 auto 3px;
	min-height: 200px;
	position: relative;
}
.promo-slider__item h3{
	font: 36px/40px 'pfbeausanspro-bold-italic', Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: center;
	padding: 0 0 2px;
	max-height: 72px;
	margin-bottom: 9px;
	overflow: hidden;
}
.promo-slider__item h3 a{
	text-decoration: none;
	color: #008acf;
	padding-top: 7px;
	border-bottom: 2px solid #008acf;
	-webkit-transition: color 0.2s, border 0.2s;
	transition: color 0.2s, border 0.2s;
}
.promo-slider__item h3 a:hover{ border-color: transparent; }
.promo-slider__text{
	font: 24px/30px 'pfbeausanspro-regular', Arial, Helvetica, sans-serif;
	text-align: center;
	color: #fff;
}
.promo-slider__item footer{
	text-align: center;
	position: relative;
}
.promo-slider__item .btn-more{
	font: 16px/20px 'pfbeausanspro-thin', Arial, Helvetica, sans-serif;
	letter-spacing: 0.05em;
	color: #1a1a1a;
	padding: 10px 12px;
	min-width: 144px;
	border-radius: 20px;
	background: #f29700;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
}
.promo-slider__item .btn-more:hover{
	background: #ffac05;
}

.promo-slider .slick-arrow{
	width: 80px;
	height: 80px;
	background: #fff;
	background: rgba(255,255,255, 0.5);
	border-radius: 50%;
	-webkit-transition-property: background, height, width, left, right;
	transition-property: background, height, width, left, right;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
	z-index: 2;
}
body:not(.mobile-device) .promo-slider .slick-arrow:hover{
	background: #fff;
	background: rgba(255,255,255, 1);
	height: 100px;
	width: 100px;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.promo-slider .slick-prev{ left: -40px; }
.promo-slider .slick-next{ right: -40px; }
body:not(.mobile-device) .promo-slider .slick-prev:hover{ left: -50px; }
body:not(.mobile-device) .promo-slider .slick-next:hover{ right: -50px; }
.promo-slider .slick-arrow:before,
.promo-slider .slick-arrow:after{
	content: '';
	position: absolute;
	top: 50%;
	width: 20px;
	height: 18px;
	margin: -9px 0 0;
	opacity: 1;
	background: url(../img/slick/arrows.png) no-repeat;
	-webkit-transition-property: opacity, left, right;
	transition-property: opacity, left, right;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.promo-slider .slick-prev:before{
	right: 11px;
	background-position: 0 -76px;
	opacity: 0.5;
}
.promo-slider .slick-prev:after{
	right: 11px;
	background-position: 0 0;
	opacity: 0;
}
.promo-slider .slick-next:before{
	left: 11px;
	background-position: 0 -114px;
	opacity: 0.5;
}
.promo-slider .slick-next:after{
	left: 11px;
	background-position: 0 -38px;
	opacity: 0;
}
body:not(.mobile-device) .promo-slider .slick-prev:hover:before,
body:not(.mobile-device) .promo-slider .slick-prev:hover:after{ right: 16px; }
body:not(.mobile-device) .promo-slider .slick-next:hover:before,
body:not(.mobile-device) .promo-slider .slick-next:hover:after{ left: 16px; }
body:not(.mobile-device) .promo-slider .slick-arrow:hover:before{ opacity: 0; }
body:not(.mobile-device) .promo-slider .slick-arrow:hover:after{ opacity: 1; }

.promo-slider .slick-dots{
	z-index: 2;
	margin: 0;
	bottom: 22px;
	padding: 0;
}
.promo-slider .slick-dots li,
.user-content .promo-slider .slick-dots li,
.user-content .promo-slider .slick-dots li:first-child{
	vertical-align: top;
	padding: 5px;
	width: 12px;
	height: 12px;
	margin: 0;
}
.promo-slider .slick-dots li button {
	width: 12px;
	height: 12px;
	padding: 0;
	border-radius: 50%;
	border: 2px solid #fff;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.promo-slider .slick-dots li button:hover {
	border-color: #f29700;
}
.promo-slider .slick-dots li.slick-active button{
	background: #f29700;
	border-color: #f29700;
}
/*promo slider end*/

/*news articles*/
.news-section{
	background: #fff;
	position: relative;
}
.news-section:after{
	content: '';
	position: absolute;
	left: -5%;
	top: 100%;
	height: 10px;
	margin-top: -10px;
	width: 110%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.news-articles{
	list-style: none;
	padding: 0 0 1px;
}
.news-articles:before,
.news-articles:after { content: ""; display: table; }
.news-articles:after { clear: both; }
.news-article{
	float: left;
	width: 50%;
	position: relative;
	padding: 0 0 1px 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.news-article a{
	display: block;
	text-decoration: none;
	color: #333;
	padding: 18px 25px 1px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 0 1px #f5f0dc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background 0.2s, box-shadow 0.2s;
	transition: background 0.2s, box-shadow 0.2s;
}
.news-article_lg a{ height: 475px; }
.news-article a:hover{
	background: #fcf7e3;
	box-shadow: 0 0 0 1px #fcf7e3;
	z-index: 1;
}
.news-article figure{
	padding: 0;
	border-bottom: 1px solid #f5f0dc;
	position: relative;
	margin: -18px -25px 18px -25px;
	height: 237px;
	overflow: hidden;
}
.news-article figure img{
	display: block;
	margin: 0 auto;
}
.news-article footer{ padding: 0 0 12px; }
.news-article time{
	display: block;
	font: 16px/24px 'pfbeausanspro-thin', Arial, Helvetica, sans-serif;
	letter-spacing: 0.025em;
	color: #b2b2b2;
	height: 24px;
	overflow: hidden;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.news-article a:hover time{ color: #f29700; }
.news-article h3{
	font: 16px/24px 'pfbeausanspro-semibold-italic', Arial, Helvetica, sans-serif;
	color: #333;
	text-transform: uppercase;
	padding: 0;
	margin: 0 0 15px;
	overflow: hidden;
	height: 48px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.news-article a:hover h3{
	color: #f29700;
}
.news-article__text{
	padding: 0 0 12px;
}
/*news articles end*/

/*faq section*/
.faq-section{ background: #fff; }
.faq-section .title-box{ padding: 54px 30px 35px; }
.faq-item{ padding-bottom: 1px; }
/*faq list*/
.faq-list{ padding: 0 0 1px; }
.faq-item{
	display: block;
	position: relative;
	text-decoration: none;
	color: #333;
	margin-top: 1px;
	padding: 13px 75px 15px 70px;
	cursor: pointer;
	box-shadow: 0 0 0 1px #f5f0dc;
	-webkit-transition: background 0.2s, box-shadow 0.2s;
	transition: background 0.2s, box-shadow 0.2s;
}
.faq-item:first-child{
	margin-top: 0;
}
.faq-item:hover,
.faq-item.active{
	background: #fcf7e3;
	box-shadow: 0 0 0 1px #fcf7e3;
	z-index: 1;
}
.faq-item h3{
	font: 16px/24px 'pfbeausanspro-semibold-italic', Arial, Helvetica, sans-serif;
	color: #333;
	text-transform: uppercase;
	padding: 0;
	margin: 0 0 2px;
	height: 24px;
	position: relative;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.faq-item:hover h3, .faq-item.active h3{ color: #f29700; }
.faq-item.active h3{
	white-space: normal;
}
.faq-item p{
	display: block;
	font: 16px/24px 'pfbeausanspro-thin', Arial, Helvetica, sans-serif;
	color: #b2b2b2;
	padding: 0;
	height: 24px;
	position: relative;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.faq-item.active p{
	white-space: normal;
}
.faq-item:hover p,
.faq-item.active p{
	color: #333;
}
.faq-item__prefix,
.faq-item__suffix{
	position: absolute;
	top: 41px;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.faq-item__prefix{
	left: 31px;
	height: 16px;
	width: 16px;
}
.faq-item__suffix{
	right: 40px;
	height: 7px;
	width: 12px;
}
.faq-item.active .faq-item__suffix{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.faq-item__prefix:before,
.faq-item__prefix:after,
.faq-item__suffix:before,
.faq-item__suffix:after{
	content: '';
	position: absolute;
	left: 0;
	-webkit-transition: border 0.2s;
	transition: border 0.2s;
}
.faq-item__prefix:before,
.faq-item__prefix:after{
	top: 0;
	height: 0;
	width: 15px;
	margin: 6px 0 0;
	border-top: 3px solid #ccc;
}
.faq-item__prefix:before{
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.faq-item__suffix:before,
.faq-item__suffix:after{
	top: 0;
	height: 0;
	width: 9px;
	border-top: 2px solid #ccc;
}
.faq-item__suffix:before{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: 2px 0 0 -1px;
}
.faq-item__suffix:after{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin: 2px 0 0 4px;
}
.faq-item:hover .faq-item__prefix:before,
.faq-item:hover .faq-item__prefix:after,
.faq-item:hover .faq-item__suffix:before,
.faq-item:hover .faq-item__suffix:after,
.faq-item.active .faq-item__prefix:before,
.faq-item.active .faq-item__prefix:after,
.faq-item.active .faq-item__suffix:before,
.faq-item.active .faq-item__suffix:after{
	border-color: #f29700;
}
.faq-item.active .faq-item__prefix:before{
	content: none;
}
/*faq list end*/
/*faq section end*/

/*advantages*/
.advantages-section{
	position: relative;
	background: #fff;
}
.advantages{
	font-size: 0;
	letter-spacing: -4px;
	padding: 0 0 50px;
}
.advantages-item{
	width: 33.3%;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	letter-spacing: normal;
	padding: 20px 32px;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background 0.6s;
	transition: background 0.6s;
}
.advantages-item:hover{
	background: #fcf7e3;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.advantages-img{
	text-align: center;
	margin: 0;
	padding: 0 0 26px;
}
.advantages-img img{
	margin: 0 auto;
}
.advantages-item h3{
	font: 16px/24px 'pfbeausanspro-semibold-italic', Arial, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #333;
	padding: 0 0 40px;
	margin: 0 -20px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.advantages-item h3:after{
	content: '';
	position: absolute;
	left: 50%;
	margin-left: -20px;
	bottom: 20px;
	height: 0;
	width: 40px;
	border-top: 3px solid #ccc;
}
.advantages-item p{
	padding: 0;
}
/*advantages end*/

/*helpful section*/
.helpful-section{
	background: #f7f7f7;
}
/*tab controls*/
.helpful__controls,
.user-content .helpful__controls{
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1;
}

.helpful__controls li,
.user-content .helpful__controls li{
	float: left;
	display: table;
	padding: 0;
	width: 50%;
	height: 96px;
	text-align: center;
	font: 16px/24px 'pfbeausanspro-semibold-italic', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	-webkit-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}
.helpful__controls li:before,
.user-content .helpful__controls li:before{
	content: none;
}
.helpful__controls li.active{
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.10);
}

.helpful__controls a{
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
	padding: 0 30px;
	height: 100%;
	color: #808080;
	font-size: 0;
	letter-spacing: -4px;
	-webkit-transition-property: color, background;
	transition-property: color, background;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
}
.helpful__controls a:hover{
	box-shadow: none;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.helpful__controls .active a{
	background: #fff;
	color: #f29700;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.helpful__controls a span{
	font-size: 16px;
	letter-spacing: normal;
	border-bottom: 1px dotted #808080;
	-webkit-transition-property: border;
	transition-property: border;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.helpful__controls a:hover span,
.helpful__controls .active a span{
	border-bottom-color: transparent;
}

/*tab controls end*/

.helpful__tabs{
	background: #fff;
}
.helpful__tab{

}

/*tabs end*/
/*helpful section*/
/*MAIN end*/

/*SIDEBAR*/
.sidebar{
	position: fixed;
	left: 0;
	top: 0;
	width: 80px !important;
	min-height: 100%;
	padding: 0 0 159px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background: #ffb205;
	background: -moz-linear-gradient(top,  #ffb205 1%, #ff8d07 100%);
	background: -webkit-linear-gradient(top,  #ffb205 1%,#ff8d07 100%);
	background: linear-gradient(to bottom,  #ffb205 1%,#ff8d07 100%);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: width 0.3s;
	transition: width 0.3s;
	overflow: hidden;
	z-index: 99;
}
.expand-sidebar .sidebar{
	width: 230px !important;
}

/*logo*/
.logo{
	display: block;
	width: 80px;
	height: 80px;
	border-bottom: 1px solid #bf7600;
	overflow: hidden;
	background: url(../img/glow-sidebar-lg.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-transition: width 0.3s, height 0.3s;
	transition: width 0.3s, height 0.3s;
}
.expand-sidebar .logo{
	width: 100%;
	height: 161px;
}
.logo a{
	display: block;
	text-decoration: none;
	color: #734700;
	height: 100%;
	padding: 19px 8px 0;
	text-align: center;
	overflow: hidden;
	-webkit-transition: paddding 0.3s;
	transition: paddding 0.3s;
}
.expand-sidebar .logo a{
	padding-top: 15px;
}
.logo img{
	margin: 0 0 6px;
}
.logo__text{
	display: block;
	position: relative;
	left: -9999px;
	top: -9999px;
	font: 14px/17px 'pfbeausanspro-bbook-italic', Arial, Helvetica, sans-serif;
	color: #734700;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.3s, height 0.3s;
	transition: opacity 0.3s 0.3s, height 0.3s;
}
.expand-sidebar .logo__text {
	left: auto;
	top: auto;
	opacity: 1;
}
/*logo end*/

/*sb buttons*/
.sb-phones,
.sb-works{
	text-align: center;
	height: 80px;
	border-bottom: 1px solid #bf7600;
	font-size: 0;
	letter-spacing: -4px;
}
.sb-works{
	height: 161px;
}
.expand-sidebar .sb-works{
	height: 80px;
}
.sb-phones:before,
.sb-works:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.sb-phones__align,
.sb-works__align{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	letter-spacing: normal;
	width: 99%;
}
.sb-phones__title,
.sb-works__title{
	display: block;
	font: 10px/12px Arial, Helvetica, sans-serif;
	color: #0f4b01;
	text-transform: uppercase;
	padding: 0 0 5px;
}
.sb-phones__title{
	display: none;
}
.expand-sidebar .sb-phones__title{
	display: block;
}
.sb-phones__body{
	font: bold 24px/28px Arial, Helvetica, sans-serif;
	letter-spacing: -0.05em;
	color: #cf2f09;
}
.sb-work__body{
	font: 13px/16px Arial, Helvetica, sans-serif;
	color: #0f4b01;
}
.expand-sidebar .sb-phones__body,
.expand-sidebar .sb-work__body{
	font: bolder 24px/28px 'pfbeausanspro-black', Arial, Helvetica, sans-serif;
	color: #cf2f09;
}
.sb-phones__body [class*="icon-"],
.sb-work__body [class*="icon-"]{
	margin: 2px 5px 0 0;
	color: #cf2f09;
	font-size: 22px;
	vertical-align: top;
}
.sb-work__body [class*="icon-"]{
	display: none;
}
.expand-sidebar .sb-phones__body [class*="icon-"],
.expand-sidebar .sb-work__body [class*="icon-"]{
	display: inline-block;
	font-size: 24px;
}
/*sb buttons end*/

/*sb menu*/
.sb-menu{
	list-style: none;
	padding: 0;
	margin: 0;
}
.sb-menu li{
	height: 80px;
	border-bottom: 1px solid #bf7600;
	text-align: center;
}
.sb-menu a{
	display: block;
	position: relative;
	font: 10px/12px Arial, Helvetica, sans-serif;
	color: #0f4b01;
	text-transform: uppercase;
	text-decoration: none;
	height: 100%;
	padding: 5px 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: color 0.2s, background 0.2s;
	transition: color 0.2s, background 0.2s;
}
.sb-menu a:hover{
	color: #fff;
	background: #0f4b01;
}
.sb-menu .sb-icon{
	font-size: 0;
	letter-spacing: -4px;
	margin-bottom: 10px;
}
.sb-menu a [class*="depict-"]{
	-webkit-transform: translate(50%, 0);
	-ms-transform: translate(50%, 0);
	transform: translate(50%, 0);
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.sb-menu a [class$="-h"]{
	opacity: 0;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.sb-menu a:hover [class*="depict-"]{ opacity: 0; }
.sb-menu a:hover [class$="-h"]{ opacity: 1; }
.sb-menu .sb-menu__inner{
	display: block;
}
.sb-menu .sb-menu__inner-alt{
	vertical-align: middle;
	width: 98%;
	display: none;
}

.expand-sidebar .sb-menu a{
	font: 14px/24px 'pfbeausanspro-semibold', Arial, Helvetica, sans-serif;
	color: #1a1a1a;
	text-align: left;
	padding-left: 60px;
	padding-right: 12px;
}
.expand-sidebar .sb-menu a:hover{
	color: #fff;
}
.expand-sidebar .sb-menu a:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.expand-sidebar .sb-menu .sb-icon{
	position: absolute;
	left: 0;
	top: 0;
	width: 64px;
	height: 100%;
}
.expand-sidebar .sb-menu a [class*="depict-"]{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.expand-sidebar .sb-menu .sb-menu__inner{
	display: none;
}
.expand-sidebar .sb-menu .sb-menu__inner-alt{
	display: inline-block;
}
/*sb menu end*/

/*social networks*/
.social-networks{
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 80px;
	left: 0;
	text-align: center;
	font-size: 0;
	letter-spacing: -4px;
	width: 100%;
	border: solid #bf7600;
	border-width: 1px 0;
}
.expand-sidebar .social-networks{
	width: 230px;
}
.social-networks li{
	padding: 20px;
	height: 80px;
	width: 80px;
	font-size: 14px;
	letter-spacing: normal;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
}
.social-networks li:first-child{
	display: block;
}
.social-networks a{
	float: left;
	text-indent: -9999px;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: 1px solid #8c5600;
	border-radius: 50%;
	position: relative;
	-webkit-transition: border 0.3s 0.1s;
	transition: border 0.3s 0.1s;
}
.social-networks a:hover{
	border-color: transparent;
}
.social-networks a:before{
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background: #8c5600;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	backface-visibility: hidden;
}
.social-networks a:hover:before{
	opacity: 1;
	width: 40px;
	height: 40px;
}
.social-networks a>[class*="depict-"]{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -19px 0 0 -19px;
	border-radius: 50%;
	opacity: 1;
	-webkit-transition: opacity 0.4s 0.05s;
	transition: opacity 0.4s 0.05s;
}
.social-networks a>[class$="-h"]{ opacity: 0; }
.social-networks a:hover>[class*="depict-"]{ opacity: 0; }
.social-networks a:hover>[class$="-h"]{ opacity: 1; }

.expand-sidebar .social-networks li{
	display: inline-block;
	width: 60px;
	padding-left: 10px;
	padding-right: 10px;
}

/* social networks end */
/*developer*/
.developer{
	display: block;
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../img/depict-dev.png) no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-transition: width 0.3s, background 0.3s;
	transition: width 0.3s, background 0.3s;
}

.expand-sidebar .developer{
	background-image: url(../img/depict-dev-full-h.png);
	background: url(../img/depict-dev-full.png) no-repeat 50% 50%;
	width: 100%;
}
.expand-sidebar .developer:hover{
	background-image: url(../img/depict-dev-full-h.png);
	background-color: #fff;
}
/*developer end*/

/*SIDEBAR end*/

/*ASIDE*/
.aside__holder{
	position: relative;
}
.actions{
	margin: 0 -10px;
}
.actions__item{
	float: left;
	font: 16px/22px 'pfbeausanspro-regular', Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	padding: 20px 10px 0;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media (min-width: 1809px){
	.actions__item{
		width: 50%;
	}
}
@media (min-width: 2609px){
	.actions__item{
		width: 33.3%;
	}
}
@media (min-width: 3409px){
	.actions__item{
		width: 25%;
	}
}
@media (min-width: 4209px){
	.actions__item{
		width: 20%;
	}
}
@media (min-width: 5009px){
	.actions__item{
		width: 16.66%;
	}
}
.actions__inner{
	display: block;
	color: #000;
	text-decoration: none;
	background: #fcf7e3;
	padding: 0 8.2%;
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.actions__holder{
	height: 100%;
	max-width: 492px;
	margin: 0 auto;
}
.actions__holder:before,
.actions__holder:after { content: ""; display: table; }
.actions__holder:after { clear: both; }
.actions__align{
	float: right;
	height: 214px;
	width: 492px;
	max-width: 100%;
	min-width: 370px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.actions__item-alt .actions__align{
	float: left;
}
.actions__visual{
	height: 114px;
	width: 174px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.actions__item-alt .actions__visual{
	left: auto;
	right: 0;
}
.actions__visual-ribbon{
	position: absolute;
	left: 50%;
	bottom: 0;
	height: 15px;
	width: 168px;
	margin-left: -84px;
	background: #ff8208;
	background: -moz-linear-gradient(left,  #ff8208 0%, #ffb006 100%);
	background: -webkit-linear-gradient(left,  #ff8208 0%,#ffb006 100%);
	background: linear-gradient(to right,  #ff8208 0%,#ffb006 100%);
	-webkit-transform: skewX(-15deg);
	-ms-transform: skewX(-15deg);
	transform: skewX(-15deg);
}
.actions__img{
	width: 146px;
	height: 146px;
	overflow: hidden;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -73px;
}
.actions__img img{
	position: relative;
}

.actions__content{
	overflow: hidden;
	position: relative;
	top: 50%;
	max-height: 190px;
	margin-left: 200px;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.actions__item-alt .actions__content{
	margin: 0 200px 0 0;
}
.actions__item h3{
	font: 16px/24px 'pfbeausanspro-semibold', Arial, Helvetica, sans-serif;
	color: #0f4b01;
	text-transform: uppercase;
	padding: 0;
	margin: 0 0 9px;
	max-height: 72px;
	overflow: hidden;
}
.actions__text{
	color: #000;
	max-height: 66px;
	overflow: hidden;
}

.actions__item-lg .actions__inner{
	height: 448px;
}
.actions__item-lg .actions__holder{
	width: 340px;
	max-width: 100%;
}
.actions__item-lg .actions__align{
	float: none;
	height: auto;
	max-height: 384px;
	position: relative;
	top: 50%;
	width: auto;
	max-width: none;
	min-width: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.actions__item-lg .actions__visual,
.actions__item-lg .actions__content{
	position: relative;
	left: auto;
	right: auto;
	top: auto;
	max-height: none;
	max-width: none;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.actions__item-lg .actions__visual{
	float: none;
	height: 184px;
	width: 280px;
	margin: 0 0 35px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.actions__item-lg .actions__content{
	margin: 0;
}
.actions__item-lg h3{
	line-height: 28px;
	max-height: 84px;
	margin: 0 0 5px;
}
.actions__item-lg .actions__visual-ribbon{
	height: 25px;
	width: 272px;
	margin-left: -136px;
	-webkit-transform: skewX(-15deg);
	-ms-transform: skewX(-15deg);
	transform: skewX(-15deg);
}
.actions__item-lg .actions__img{
	width: 238px;
	height: 238px;
	margin-left: -119px;
}
/*ASIDE end*/

/*FOOTER*/
.footer .nav-bar{
	background: #f29700;
	padding: 4px 50px 12px;
}
.nav-bar__list,
.nav-bar__list ul{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
	letter-spacing: -4px;
}
.nav-bar__list{
	margin: 0 -10px;
}
.nav-bar__list:before,
.nav-bar__list:after { content: ""; display: table; }
.nav-bar__list:after { clear: both; }
.nav-bar__list li{
	font: 14px/17px 'pfbeausanspro-semibold', Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nav-bar__list>li{
	display: inline-block;
	vertical-align: top;
	padding: 30px 10px 45px;
	width: 33.28%;
}
.nav-bar__list>li.align-left{
	float: left;
}
.nav-bar__list>li>strong{
	display: block;
	font: 16px/24px 'pfbeausanspro-semibold', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #1a1a1a;
	padding: 0 0 21px;
}
.nav-bar__list ul li{
	padding: 13px 0 0;
}
.nav-bar__list ul li:first-child{
	padding-top: 0;
}
.nav-bar__list a{
	text-decoration: none;
	color: #0f4b01;
}
.nav-bar__list a:hover{
	text-decoration: underline;
}

/*useful links*/
.useful-links{
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	border: solid #d98600;
	border-width: 1px 0 0;
	background: #f29700;
}
.useful-links li{
	float: left;
	width: 33.33%;
	height: 90px;
	padding: 0 0 1px;
	position: relative;
}
.useful-links a{
	display: block;
	text-decoration: none;
	font: 14px/17px 'pfbeausanspro-regular', Arial, Helvetica, sans-serif;
	color: #0f4b01;
	height: 100%;
	padding: 0 12px 1px 91px;
	background: #f29700;
	box-shadow: 0 1px 0 #d98600, 0 -1px 0 #d98600;
	border-right: 1px solid #d98600;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: color 0.2s, background 0.2s;
	transition: color 0.2s, background 0.2s;
}
.useful-links a:hover{
	background: #d98600;
}
.useful-links__icon{
	position: absolute;
	left: 10px;
	top: 10px;
	width: 70px;
	height: 70px;
	text-align: center;
	padding: 10px;
	background: #d98600;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
}
.useful-links a:hover .useful-links__icon{
	background-color: transparent;
}
.useful-links__icon img{
	position: relative;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.useful-links__text{
	position: relative;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
/*useful links end*/

.footer-copy{
	display: table;
	width: 100%;
	height: 80px;
	font: 14px/17px 'pfbeausanspro-regular', Arial, Helvetica, sans-serif;
	background: #0f4b01;
	color: #f29700;
	text-align: center;
}
.footer-copy-i{
	display: table-cell;
	vertical-align: middle;
}
/*FOOTER end*/

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi){

}

@media print{
	*,
	*:before,
	*:after{
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited{
		text-decoration: underline;
	}
	a[href]:after{
		content: " (" attr(href) ")";
	}
	abbr[title]:after{
		content: " (" attr(title) ")";
	}
	a[href^="#"]:after,
	a[href^="javascript:"]:after{
		content: "";
	}
	pre,
	blockquote{
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead{
		display: table-header-group;
	}
	tr,
	img{
		page-break-inside: avoid;
	}
	img{
		max-width: 100% !important;
	}
	p,
	h2,
	h3{
		orphans: 3;
		widows: 3;
	}
	h2,
	h3{
		page-break-after: avoid;
	}
}