/* pf-beau-sans-pro regular */
@font-face {
	font-family: 'pfbeausanspro-regular';
	src: url('../fonts/pf-beau-sans-pro/regular/pfbeausanspro-regular.eot');
	src: url('../fonts/pf-beau-sans-pro/regular/pfbeausanspro-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/pf-beau-sans-pro/regular/pfbeausanspro-regular.woff') format('woff'),
	url('../fonts/pf-beau-sans-pro/regular/pfbeausanspro-regular.ttf') format('truetype'),
	url('../fonts/pf-beau-sans-pro/regular/pfbeausanspro-regular.svg#pfbeausanspro-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* pf-beau-sans-pro bold bbook */
@font-face {
	font-family: 'pfbeausanspro-bbook';
	src: url('../fonts/pf-beau-sans-pro/bbook/pfbeausanspro-bbook.eot');
	src: url('../fonts/pf-beau-sans-pro/bbook/pfbeausanspro-bbook.eot?#iefix') format('embedded-opentype'),
	url('../fonts/pf-beau-sans-pro/bbook/pfbeausanspro-bbook.woff') format('woff'),
	url('../fonts/pf-beau-sans-pro/bbook/pfbeausanspro-bbook.ttf') format('truetype'),
	url('../fonts/pf-beau-sans-pro/bbook/pfbeausanspro-bbook.svg#pfbeausanspro-bbook') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* pf-beau-sans-pro bold bbook italic */
@font-face {
	font-family: 'pfbeausanspro-bbook-italic';
	src: url('../fonts/pf-beau-sans-pro/bbook-italic/pfbeausanspro-bbookitalic.eot');
	src: url('../fonts/pf-beau-sans-pro/bbook-italic/pfbeausanspro-bbookitalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/pf-beau-sans-pro/bbook-italic/pfbeausanspro-bbookitalic.woff') format('woff'),
	url('../fonts/pf-beau-sans-pro/bbook-italic/pfbeausanspro-bbookitalic.ttf') format('truetype'),
	url('../fonts/pf-beau-sans-pro/bbook-italic/pfbeausanspro-bbookitalic.svg#pfbeausanspro-bbook-italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* pf-beau-sans-pro black */
@font-face {
	font-family: 'pfbeausanspro-black';
	src: url('../fonts/pf-beau-sans-pro/black/pfbeausanspro-black.eot');
	src: url('../fonts/pf-beau-sans-pro/black/pfbeausanspro-black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/pf-beau-sans-pro/black/pfbeausanspro-black.woff') format('woff'),
	url('../fonts/pf-beau-sans-pro/black/pfbeausanspro-black.ttf') format('truetype'),
	url('../fonts/pf-beau-sans-pro/black/pfbeausanspro-black.svg#pfbeausanspro-black') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* pf-beau-sans-pro black italic */
@font-face {
	font-family: 'pfbeausanspro-black-italic';
	src: url('../fonts/pf-beau-sans-pro/black-italic/pfbeausanspro-blackitalic.eot');
	src: url('../fonts/pf-beau-sans-pro/black-italic/pfbeausanspro-blackitalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/pf-beau-sans-pro/black-italic/pfbeausanspro-blackitalic.woff') format('woff'),
	url('../fonts/pf-beau-sans-pro/black-italic/pfbeausanspro-blackitalic.ttf') format('truetype'),
	url('../fonts/pf-beau-sans-pro/black-italic/pfbeausanspro-blackitalic.svg#pfbeausanspro-black-italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* pf-beau-sans-pro bold */
@font-face {
	font-family: 'pfbeausanspro-bold';
	src: url('../fonts/pf-beau-sans-pro/bold/pfbeausanspro-bold.eot');
	src: url('../fonts/pf-beau-sans-pro/bold/pfbeausanspro-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/pf-beau-sans-pro/bold/pfbeausanspro-bold.woff') format('woff'),
	url('../fonts/pf-beau-sans-pro/bold/pfbeausanspro-bold.ttf') format('truetype'),
	url('../fonts/pf-beau-sans-pro/bold/pfbeausanspro-bold.svg#pfbeausanspro-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* pf-beau-sans-pro bold italic */
@font-face {
	font-family: 'pfbeausanspro-bold-italic';
	src: url('../fonts/pf-beau-sans-pro/bold-italic/pfbeausanspro-bolditalic.eot');
	src: url('../fonts/pf-beau-sans-pro/bold-italic/pfbeausanspro-bolditalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/pf-beau-sans-pro/bold-italic/pfbeausanspro-bolditalic.woff') format('woff'),
	url('../fonts/pf-beau-sans-pro/bold-italic/pfbeausanspro-bolditalic.ttf') format('truetype'),
	url('../fonts/pf-beau-sans-pro/bold-italic/pfbeausanspro-bolditalic.svg#pfbeausanspro-bold-italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* pf-beau-sans-pro italic */
@font-face {
	font-family: 'pfbeausanspro-italic';
	src: url('../fonts/pf-beau-sans-pro/italic/pfbeausanspro-italic.eot');
	src: url('../fonts/pf-beau-sans-pro/italic/pfbeausanspro-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/pf-beau-sans-pro/italic/pfbeausanspro-italic.woff') format('woff'),
	url('../fonts/pf-beau-sans-pro/italic/pfbeausanspro-italic.ttf') format('truetype'),
	url('../fonts/pf-beau-sans-pro/italic/pfbeausanspro-italic.svg#pfbeausanspro-italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* pf-beau-sans-pro semibold */
@font-face {
	font-family: 'pfbeausanspro-semibold';
	src: url('../fonts/pf-beau-sans-pro/semibold/pfbeausanspro-semibold.eot');
	src: url('../fonts/pf-beau-sans-pro/semibold/pfbeausanspro-semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/pf-beau-sans-pro/semibold/pfbeausanspro-semibold.woff') format('woff'),
	url('../fonts/pf-beau-sans-pro/semibold/pfbeausanspro-semibold.ttf') format('truetype'),
	url('../fonts/pf-beau-sans-pro/semibold/pfbeausanspro-semibold.svg#pfbeausanspro-semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* pf-beau-sans-pro semibold italic */
@font-face {
	font-family: 'pfbeausanspro-semibold-italic';
	src: url('../fonts/pf-beau-sans-pro/semibold-italic/pfbeausanspro-semibolditali.eot');
	src: url('../fonts/pf-beau-sans-pro/semibold-italic/pfbeausanspro-semibolditali.eot?#iefix') format('embedded-opentype'),
	url('../fonts/pf-beau-sans-pro/semibold-italic/pfbeausanspro-semibolditali.woff') format('woff'),
	url('../fonts/pf-beau-sans-pro/semibold-italic/pfbeausanspro-semibolditali.ttf') format('truetype'),
	url('../fonts/pf-beau-sans-pro/semibold-italic/pfbeausanspro-semibolditali.svg#pfbeausanspro-semibold-italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* pf-beau-sans-pro thin */
@font-face {
	font-family: 'pfbeausanspro-thin';
	src: url('../fonts/pf-beau-sans-pro/thin/pfbeausanspro-thin.eot');
	src: url('../fonts/pf-beau-sans-pro/thin/pfbeausanspro-thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/pf-beau-sans-pro/thin/pfbeausanspro-thin.woff') format('woff'),
	url('../fonts/pf-beau-sans-pro/thin/pfbeausanspro-thin.ttf') format('truetype'),
	url('../fonts/pf-beau-sans-pro/thin/pfbeausanspro-thin.svg#pfbeausanspro-thin') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* pf-beau-sans-pro thin italic */
@font-face {
	font-family: 'pfbeausanspro-thin-italic';
	src: url('../fonts/pf-beau-sans-pro/thin-italic/pfbeausanspro-thinitalic.eot');
	src: url('../fonts/pf-beau-sans-pro/thin-italic/pfbeausanspro-thinitalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/pf-beau-sans-pro/thin-italic/pfbeausanspro-thinitalic.woff') format('woff'),
	url('../fonts/pf-beau-sans-pro/thin-italic/pfbeausanspro-thinitalic.ttf') format('truetype'),
	url('../fonts/pf-beau-sans-pro/thin-italic/pfbeausanspro-thinitalic.svg#pfbeausanspro-thin-italic') format('svg');
	font-weight: normal;
	font-style: normal;
}