/*@import url(2200-min.css) only screen and (min-width: 2284px);*/
/*@import url(1600.css) only screen and (max-width:1616px);*/
/*@import url(1350.css) only screen and (max-width:1349px);*/
/*@import url(980.css) only screen and (max-width:979px);*/
/*@import url(768.css) only screen and (max-width:767px);*/
/*@import url(640.css) only screen and (max-width:639px);*/

@media only screen and (min-width: 2284px){
	.main-layout,
	.header,
	.site-map{ width: 1360px; }
	.aside { margin-left: 1360px; }
}

@media only screen and (max-width: 1616px){
	.main-layout,
	.header,
	.site-map{ width: 960px; }
	.aside { margin-left: 960px; }
}

@media only screen and (max-width: 1349px){
	.main-layout, .header, .site-map{
		float: none;
		width: 100%;
		box-shadow: none;
	}
	.news-articles {
		margin: 0 auto;
		max-width: 880px;
		border-right: 1px solid #f5f0dc;
	}
	.faq-list{
		max-width: 880px;
		margin: 0 auto;
	}

	.nav-layout { margin: 0 120px 0 60px; }
	.btn-aside{ display: block; }
	.search-form{ right: 60px; }

	.aside{
		position: fixed;
		right: 0;
		top: 60px;
		bottom: 0;
		width: 642px;
		overflow: auto;
		max-width: 100%;
		z-index: 90;
	}
	.aside__holder{ background: #fff; }
	.aside-panel-overlay{
		width: 100%;
		height: 100%;
	}

	/*layout main blocks*/
	.aside,
	.expanded-sidebar .aside{
		-webkit-transform: translate(100%, 0);
		-ms-transform: translate(100%, 0);
		transform: translate(100%, 0);
		-webkit-transition-property: -webkit-transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
	}
	.aside-panel-show .aside{
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	.expanded-sidebar .aside-panel-show .aside{
		-webkit-transform: translate(150px, 0);
		-ms-transform: translate(150px, 0);
		transform: translate(150px, 0);
	}
	/*layout main blocks end*/
}

@media only screen and (max-width: 979px){
	/*form style*/
	.form-row {
		margin: 0;
		padding: 0;
	}
	.form-row .input-wrap{
		display: block;
		width: auto;
		padding-left: 0;
		padding-right: 0;
	}
	/*form style end*/

	/*files item*/
	.files .files-item{
		display: block;
		width: auto;
	}
	/*files item end*/

	/*site map*/
	.nav-bar__list>li.align-left{ float: none; }
	.nav-bar__list>li{
		width: 49.98%;
		padding: 30px 10px 15px;
	}
	/*site map end*/

	/*main navigation*/
	.nav{
		-webkit-perspective: 800px;
		perspective: 800px;
	}
	.nav-list{
		display: block;
		position: absolute;
		width: 100%;
		left: -9999px;
		top: -9999px;
		padding: 10px 0 25px;
		border: solid #3f6f34;
		border-width: 1px 0;
		opacity: 0;
		background: #0f4b01;
		overflow: auto;
		-webkit-transform: rotateX(-45deg);
		transform: rotateX(-45deg);
		-webkit-transform-origin: 100% 0% 0;
		transform-origin: 100% 0% 0;
		-webkit-transition-property: left, top, opacity, -webkit-transform;
		transition-property: left, top, opacity, transform;
		-webkit-transition-duration: 0s, 0s, 0.3s, 0.3s;
		transition-duration: 0s, 0s, 0.3s, 0.3s;
		-webkit-transition-delay: 0.3s, 0.3s, 0s, 0s;
		transition-delay: 0.3s, 0.3s, 0s, 0s;
	}
	.nav-show .nav-list{
		top: 100%;
		left: 0;
		opacity: 1;
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-webkit-transition-delay: 0s, 0s, 0s, 0s;
		transition-delay: 0s, 0s, 0s, 0s;
	}
	.nav-list li{
		font-size: 16px;
		line-height: 24px;
		display: block;
		text-align: left;
		padding: 14px 60px 0 60px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.nav-list>li>a{
		display: inline;
		padding: 0;
		text-align: left;
		text-transform: none;
		background: none;
	}
	.nav-list>li>a:after{ content: none; }
	.nav-list>li.active>a{ color: #fff; }
	.nav-list>li>a:before,
	.nav-list>li>a:first-child:before{
		content: none;
		left: 0;
		top: 0;
		height: 0;
		width: 100%;
		margin: 0;
		border-width: 1px 0 0;
	}

	/*button menu*/
	.btn-menu{ display: inline-block; }
	/*button menu end*/
	/*main navigation end*/

	/*news articles*/
	.news-article {
		float: none;
		width: auto;
	}
	.news-article_lg a { height: auto; }
	.news-article h3{ height: auto; }
	/*news articles end*/

	/*advantages*/
	.advantages-item{ width: 49.98%; }
	/*advantages end*/

	/*info*/
	.info-item:first-child{ padding-left: 0; }
	.info-item:last-child{ padding-right: 0; }
	/*info end*/

	/*about info*/
	.about-info:before,
	.about-info:after{ content: none; }
	.about-info__col{
		float: none;
		width: auto;
		margin: 0 -9999px;
		padding-left: 9999px;
		padding-right: 9999px;
	}
	.about-info__col:before{ height: 230px; }
	.about-info__col-left {
		background: #f2f2f2;
		text-align: center;
	}
	.about-info__col-right {
		background: #e6e6e6;
		text-align: center;
		direction: rtl;
	}
	.about-info__text{
		width: auto;
		max-width: 300px;
		padding-bottom: 30px;
	}
	.about-info__col-right .about-info__text{
		margin-right: 0;
		margin-left: 25px;
	}
	.about-info__text .text-inner{ height: 144px; }
	.about-info__img{
		height: 200px;
		overflow: hidden;
	}
	/*about info end*/

	/*call section*/
	.call-content{
		padding-bottom: 20px;
		padding-right: 0;
	}
	.call-description { padding: 0 0 39px; }
	.call-img { right: 100px; }
	.call-list{
		display: block;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-right: 325px;
		min-height: 270px;
	}
	.call-item{
		display: block;
		padding: 0 0 40px;
	}
	.call-item:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 0;
		width: 80px;
		border: none;
		border-top: 1px solid #ccc;
		margin-top: -20px;
	}
	.call-item__text{ width: 100%; }
	/*call section end*/

	/*useful*/
	.useful-links li{ width: 49.48%; }
	/*useful end*/

	/*form-callback*/
	.captcha-row{
		display: table;
		width: 100%;
	}
	.captcha-row .input-wrap{
		display: table-cell;
		vertical-align: top;
	}
	.captcha-wrap{ width: 225px; }
	.captcha-row .input-wrap:first-child + .input-wrap{ width: 100%; }
	.form-buttons-wrap{ height: auto; }
	.form-buttons-group .label-holder{ text-align: center; }
	.form-buttons-col,
	.active-state .form-buttons-col{
		float: none;
		width: 260px;
		margin: 0 auto;
		padding-top: 20px;
	}
	.form-buttons-col:first-child{ padding-top: 0; }
	.form-buttons-col .btn-submit,
	.form-buttons-col .btn-reset{ border-radius: 4px; }
	.form-buttons-right [class*="btn-"]{ border-left: none; }
	.form-buttons-col [class*="btn-"] > span,
	.active-state .form-buttons-col [class*="btn-"] > span{
		max-width: none;
		opacity: 1;
	}
	.btn-submit:hover > i,
	.btn-reset:hover > i:before{
		-webkit-animation: none !important;
		animation: none !important;
	}
	/*form-callback end*/

	/*footer*/
	.footer .nav-bar { padding: 15px 0 30px; }
	/*footer end*/
}

@media only screen and (max-width: 767px){
	/*catalog menu*/
	.catalog-menu-list li{
		float: none;
		width: auto;
	}
	.catalog-menu-list a{
		height: auto;
		padding: 16px 30px 16px 6%;
	}
	.catalog-menu-list li:before, .catalog-menu-list li:after{ right: 15px; }
	/*catalog menu end*/

	/*movie section*/
	.movie .movie__item{ width: 49.98%; }
	/*movie section end*/

	/*call section*/
	.call-list{ padding-right: 235px; }
	.call-img { right: 0; }
	/*call section end*/

	/*about desc*/
	.about-desc{ padding: 40px 0 5px; }
	.about-desc__list{ margin: 0; }
	.about-desc__col {
		display: block;
		width: auto;
		height: auto;
		padding: 0 0 40px;
	}
	.about-desc__img {
		padding-right: 12px;
		width: 98px;
		text-align: center;
	}
	/*about desc end*/

	/*easy*/
	.easy-bg{
		height: 246px;
		width: 176px;
	}
	/*easy end*/

	/*aside*/
	.aside{ width: 560px; }
	/*aside end*/

	/*structure*/
	.structure__list ul li, .user-content .structure__list ul li, .structure__list ul ul li, .user-content .structure__list ul ul li, .user-content .structure__list ul li:first-child, .user-content .structure__list ul li:first-child{ padding-left: 40px; }
	.structure__list li:before, .structure__list li:first-child:before, .user-content .structure__list li:before, .user-content .structure__list li:first-child:before, .structure__list li:after{
		width: 20px;
		left: 20px;
	}
	/*structure end*/
}

@media only screen and (max-width: 639px){
	h1{
		font-size: 30px;
		line-height: 38px;
		padding: 0 0 20px;
	}
	h2{
		font-size: 30px;
		line-height: 38px;
		padding: 0 0 20px;
	}

	/*content img*/
	.imgc,
	.imgl,
	.imgr{
		float: none;
		display: block;
		margin: 0 0 20px;
		max-width: 100%;
		text-align: left;
		padding: 0;
	}
	/*content img end*/

	/*header*/
	.logo{ display: none; }
	.logo-header{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 60px;
		height: 60px;
		border: none;
	}
	.logo-header > a,
	.logo-header > div{ padding: 15px 8px 0; }
	.btn-site-map,
	.site-map{ display: none; }
	/*header end*/

	/*form-callback*/
	.captcha-row{ display: block; }
	.captcha-row .input-wrap{ display: block; }
	.captcha-wrap{ width: auto; }
	/*form-callback end*/

	/*promo slider*/
	.promo-slider { height: 300px; }
	.promo-slider .slick-arrow{
		width: 70px;
		height: 60px;
		display: none !important;
	}
	.promo-slider .slick-next:before{ left: 6px; }
	.promo-slider .slick-prev:before{ right: 6px; }
	.promo-slider__content{
		padding-top: 30px;
		padding-left: 30px;
		padding-right: 30px;
		min-height: 160px;
		margin-bottom: 12px;
	}
	.promo-slider__item footer,
	.promo-slider__item .promo-slider__content{
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.promo-slider__item h3{
		font-size: 20px;
		line-height: 24px;
		max-height: 48px;
	}
	.promo-slider__text{
		font-size: 14px;
		line-height: 20px;
		max-height: 120px;
	}
	.promo-slider .slick-dots{ bottom: 6px; }
	/*promo slider*/

	/*pic slider*/
	.pic-slider .slick-arrow{
		width: 70px;
		height: 60px;
	}
	.pic-slider .slick-next:before{ left: 6px; }
	.pic-slider .slick-prev:before{ right: 6px; }
	/*pic slider*/

	/*sidebar*/
	.sidebar{
		overflow: auto;
		-webkit-transform: translate(-224px, 0);
		-ms-transform: translate(-224px, 0);
		transform: translate(-224px, 0);
	}
	.btn-sidebar{ display: block; }
	.sidebar-small{ display: none; }
	.sidebar-large{
		width: 230px;
		border: none;
		-webkit-transform: translate(-6px, 0);
		-ms-transform: translate(-6px, 0);
		transform: translate(-6px, 0);
	}
	/*sidebar end*/

	/*site map*/
	.nav-bar__list>li {
		display: block;
		width: auto;
		padding: 10px 10px 30px;
	}
	/*site map end*/

	/*local map*/
	.local-map{ height: 240px; }
	/*local map end*/

	/*useful*/
	.useful-links li{
		display: block;
		width: auto;
	}
	/*useful end*/

	/*about info*/
	.about-info__col:before { content: none; }
	.about-info__text,
	.about-info__col-right .about-info__text {
		display: block;
		font-size: 16px;
		line-height: 24px;
		margin: 0 auto;
		padding: 0 0 30px;
		max-width: none;
	}
	.about-info__col{
		padding-top: 30px;
		padding-bottom: 0;
	}
	.about-info__text .text-inner{ height: auto; }
	/*about info end*/

	/*movie section*/
	.movie .movie__item{
		display: block;
		width: auto;
	}
	.movie__video{ width: 280px; }
	/*movie section end*/

	/*call section*/
	.call-list{ padding-right: 75px; }
	.call-img {
		right: -78px;
		width: 180px;
	}
	/*call section end*/

	/*tabs style default*/
	.tab-controls li, .user-content .tab-controls li,
	.tab-controls a span{
		font-size: 14px;
		line-height: 20px;
	}
	.tab-controls a{ padding: 0 12px; }
	/*tabs style default end*/

	/*advantages*/
	.advantages-item{
		display: block;
		width: auto;
	}
	.advantages-item h3{ margin: 0; }
	/*advantages end*/

	/*cells-list / pay list*/
	.cells-list >li, .user-content .cells-list >li{ width: 50%; }
	/*cells-list / pay list end*/

	/*terminals*/
	.terminals-item{
		display: block;
		width: auto;
	}
	/*terminals end*/

	/*info*/
	.info{ padding: 10px 0 20px; }
	.info-holder,
	.info-row{ display: block; }
	.info-item{
		display: block;
		padding: 20px 0 0;
		border: solid #e6e6e6;
		border-width: 1px 0 0;
	}
	/*info end*/

	/*easy*/
	.easy{ padding: 30px 0; }
	.easy-bg{ display: none; }
	.easy h3{ padding: 0 0 35px; }
	.easy-list{ margin: 0; }
	.easy-item{
		display: block;
		float: none;
		width: auto;
		padding: 35px 0 0;
	}
	.easy-item:first-child{ padding-top: 0; }
	.easy-img{ padding: 0 0 10px; }
	/*easy end*/

	/*faq list*/
	.faq-item__angle{ left: 16px; }
	.faq-list h3{ padding: 20px 16px 17px 45px; }
	.faq-item p{
		padding-left: 16px;
		padding-right: 16px;
	}
	/*faq list end*/

	/*actions*/
	.actions__inner{ padding: 8.2%; }
	.actions__align{
		float: none;
		width: auto;
		height: auto;
		min-width: 0;
	}
	.actions__visual,
	.actions__item-lg .actions__visual{
		position: relative;
		left: auto;
		top: auto;
		height: 134px;
		width: 174px;
		margin: 0 auto 30px;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	.actions__img,
	.actions__item-lg .actions__img{
		width: 146px;
		height: 146px;
		margin-left: -73px;
	}
	.actions__visual-ribbon,
	.actions__item-lg .actions__visual-ribbon {
		height: 15px;
		width: 168px;
		margin-left: -84px;
	}
	.actions__content,
	.actions__item-alt .actions__content{
		margin: 0;
		top: auto;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	/*actions end*/

	/*layout main blocks*/
	.main-layout,
	.header,
	.site-map{ padding-left: 6px; }

	.expanded-sidebar .main-layout,
	.expanded-sidebar .site-map{
		-webkit-transform: translate(224px, 0);
		-ms-transform: translate(224px, 0);
		transform: translate(224px, 0);
	}
	.expanded-sidebar .header{
		-webkit-transform: translate(224px, -100%);
		-ms-transform: translate(224px, -100%);
		transform: translate(224px, -100%);
	}
	.expanded-sidebar .aside{
		-webkit-transform: translate(100%, 0);
		-ms-transform: translate(100%, 0);
		transform: translate(100%, 0);
	}
	.expanded-sidebar .aside-panel-show .aside{
		-webkit-transform: translate(224px, 0);
		-ms-transform: translate(224px, 0);
		transform: translate(224px, 0);
	}
	.expanded-sidebar .top-panel-show .header,
	.expanded-sidebar .aside-panel-show .header{
		-webkit-transform: translate(224px, 0);
		-ms-transform: translate(224px, 0);
		transform: translate(224px, 0);
	}
	.expanded-sidebar .btn-sidebar{
		-webkit-transform: translate(224px, 0);
		-ms-transform: translate(224px, 0);
		transform: translate(224px, 0);
	}
	/*layout main blocks end*/

	/*structure*/
	.structure__title{
		line-height: 20px;
		padding-right: 26px;
	}
	.structure__inner{ font-size: 14px; }
	.structure__angle{ right: 9px; }
	.structure__angle:before, .structure__angle:after{
		width: 11px;
		left: 2px;
	}
	.structure__list ul li, .user-content .structure__list ul li, .structure__list ul ul li, .user-content .structure__list ul ul li, .user-content .structure__list ul li:first-child, .user-content .structure__list ul li:first-child{ padding-left: 20px; }
	.structure__list li:before, .structure__list li:first-child:before, .user-content .structure__list li:before, .user-content .structure__list li:first-child:before, .structure__list li:after{
		width: 10px;
		left: 10px;
	}
	/*structure end*/
}