/* reset */
body{ -webkit-font-smoothing: antialiased; }
body, html{ height: 100%; width: 100%;margin: 0; }
body{
	font: 16px/24px Arial, Helvetica, sans-serif;
	letter-spacing: 0.025em;
	height: 100%;
	color: #1a1a1a;
	background: #fff;
	min-width: 320px;
}
p{
	padding: 0 0 24px;
	margin: 0;
}
hr{
	line-height: 1px;
	height: 0;
	border: none;
	background: none;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 24px;
}
a{
	color: #f29700;
	outline: none;
	text-decoration: underline;
	cursor: default;
}
a[href^="tel"]{ color: #1a1a1a; }
a:link{
	cursor: pointer;
	text-decoration: none;
}
a:hover{ text-decoration: underline; }
a[href^="tel"]:hover{ text-decoration: none; }
.nowrap{ white-space: nowrap; }
/* reset end */
.wrapper{
	position: relative;
	overflow: hidden;
	max-width: 3440px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*if lt ie9*/
.lt-ie9 .wrapper{ display: none; }
/*if lt ie9 end*/
.main{
	padding: 30px 0;
}
.main-layout{
	max-width: 880px;
	margin: 0 auto;
	padding-left: 6%;
	padding-right: 6%;
	box-sizing: content-box;
}
.logo{
	display: block;
	width: 60px;
	height: 60px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	background: url(../img/glow-sidebar-lg.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	box-sizing: content-box;
}
.logo a,
.logo>span{
	display: block;
	text-decoration: none;
	color: #734700;
	height: 100%;
	padding: 12px 6px 0;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
}
.logo img{
	display: block;
	max-width: 100%;
}
/*pay*/
.pay{
	margin-bottom: 20px;
}
.pay:last-child{
	margin-bottom: 0;
}
.pay-title{
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	color: #ee8726;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.pay-subtitle{
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	color: #164411;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.pay-note{

}
.pay-list{
	list-style: none;
	padding: 1px 1px 0 0;
	margin: 0;
}
.pay-list:before,
.pay-list:after { content: ""; display: table; }
.pay-list:after { clear: both; }
.pay-list >li{
	float: left;
	width: 25%;
	padding: 0 0 1px 1px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.pay-list >li:hover{ z-index: 1; }
.pay-list >li:before{
	content: '';
	display: block;
	position: relative;
	left: auto;
	top: auto;
	height: 0;
	padding: 100% 0 0;
	width: 100%;
	background: none;
	border: none;
	border-radius: 0;
}
.pay-list >li a{
	display: block;
	position: absolute;
	left: 1px;
	top: 0;
	right: 0;
	bottom: 1px;
	text-align: center;
	box-shadow: 0 0 0 1px #e6e6e6;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	font-size: 0;
	letter-spacing: -4px;
}
.pay-list >li a:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.pay-list >li a:hover{
	box-shadow: 0 0 0 1px #e6e6e6, 0 0 20px rgba(0, 0, 0, 0.21);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.pay-list >li a img{
	vertical-align: middle;
	max-width: 90%;
	max-height: 90%;
	font-size: 16px;
	letter-spacing: normal;
	-webkit-transform: scale(0.92, 0.92);
	-ms-transform: scale(0.92, 0.92);
	transform: scale(0.92, 0.92);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
}
.pay-list:hover >li a:hover img{
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
@media only screen and (max-width: 768px){
	.pay-list >li{ width: 33.3%; }
}
@media only screen and (max-width: 639px){
	.pay-list >li{ width: 50%; }
}
/*pay end*/