/*icons*/
[class|="depict"],
[class*=" depict-"]{
	background:url(../img/sprite-icons.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
.depict-phone-sm{ background-position: 0 0; width: 15px; height: 15px; }
.depict-phone-lg{ background-position: 0 -35px; width: 20px; height: 20px; }
.depict-time-lg{ background-position: 0 -75px; width: 20px; height: 20px; }
.depict-tel{ background-position: 0 -115px; width: 18px; height: 30px; }
.depict-tel-h{ background-position: 0 -165px; width: 18px; height: 30px; }
.depict-faq{ background-position: 0 -215px; width: 20px; height: 30px; }
.depict-faq-h{ background-position: 0 -265px; width: 20px; height: 30px; }
.depict-stat{ background-position: 0 -315px; width: 30px; height: 30px; }
.depict-stat-h{ background-position: 0 -365px; width: 30px; height: 30px; }
/*icons end*/

/*social icons*/
[class|="soc-icon"],
[class*=" soc-icon-"] {
	background:url(../img/sprite-social.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
/*social icons end*/