/*======================================================*/
/* WARNINGS */
/*======================================================*/
/* browserupgrade */
.old-ie {
	overflow: hidden;
}
.old-ie body {
	overflow: hidden;
}
.browserupgrade {
	position: fixed;
	height: 100%;
	width: 100%;
	padding: 0.2em 0;
	margin: 0;
	font-size: 28px;
	line-height: 42px;
	color: #000;
	background: #ccc;
	z-index: 99999;
}
.browserupgrade p {
	position: absolute;
	width: 100%;
	top: 50%;
	margin: -22px 0 0;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}
/* browserupgrade end */
/* no js warning */
.no-js-warning {
	border: 2px solid #f00;
	color: #f00;
	background: #fff;
	padding: 5px 20px;
	font-size: 18px;
}
/* no js warning end */
/*======================================================*/
/* COMMON */
/*======================================================*/
body {
	-webkit-font-smoothing: antialiased;
	height: 100%;
	width: 100%;
	margin: 0;
}
html {
	height: 100%;
	width: 100%;
	margin: 0;
}
body {
	font: 16px/24px Arial, Helvetica, sans-serif;
	height: 100%;
	color: #1a1a1a;
	background: #fff;
	min-width: 320px;
}
p {
	margin: 0 0 1.5em;
}
img {
	display: block;
	border: none;
}
a {
	color: #f29700;
	text-decoration: underline;
	cursor: default;
}
a:link {
	cursor: pointer;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.wrapper {
	position: relative;
	overflow: hidden;
}
.lt-ie9 .wrapper {
	display: none;
}
.main {
	padding: 30px 4%;
	max-width: calc(880px + 8%);
	margin: 0 auto;
	box-sizing: content-box;
}
@media only screen and (max-width: 479px) {
	.main {
		padding: 20px;
	}
}
.header {
	position: relative;
	background-color: #164411;
	height: 60px;
}
.logo {
	float: left;
	width: 60px;
	height: 60px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-sizing: content-box;
	will-change: width;
	transition: width 0.2s;
}
.logo:hover {
	width: 120px;
}
.logo a, .logo > span {
	display: block;
	text-decoration: none;
	height: 100%;
	padding: 12px 6px 0;
	overflow: hidden;
	box-sizing: border-box;
}
.logo img {
	display: block;
	max-width: 48px;
	margin: 0 auto;
}
@media only screen and (max-width: 479px) {
	.logo:hover {
		width: 60px;
	}
}
.back-to {
	float: right;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	max-width: calc(100% - 80px);
	height: 100%;
	box-sizing: border-box;
	padding: 10px 45px 10px 20px;
	color: #fff;
	background-color: #c71217;
	text-decoration: none;
	transition: background-color 0.2s;
}
.back-to::before, .back-to::after {
	display: block;
	position: absolute;
	content: "";
	width: 18px;
	height: 2px;
	background-color: #fff;
	right: 18px;
	top: 50%;
	margin-top: -1px;
}
.back-to::before {
	-ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
}
.back-to::after {
	-ms-transform: rotate(45deg);
	    transform: rotate(45deg);
}
.back-to:hover {
	background-color: #fd9c2c;
	text-decoration: none;
}
@media only screen and (max-width: 479px) {
	.back-to {
		width: calc(100% - 60px);
		max-width: none;
	}
}
.pay {
	margin-bottom: 24px;
}
.pay:last-child {
	margin-bottom: 0;
}
.pay-title, .pay-subtitle {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1em;
}
.pay-title {
	color: #ee8726;
}
.pay-subtitle {
	color: #164411;
}
@media only screen and (max-width: 479px) {
	.pay-title, .pay-subtitle {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 0.6em;
	}
}
.pay-list {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	list-style: none;
	padding: 1px 1px 0 0;
	margin: 0;
	box-sizing: border-box;
}
.pay-list li {
	float: left;
	width: 20%;
	padding: 0 0 1px 1px;
	position: relative;
	box-sizing: border-box;
}
.pay-list li:hover {
	z-index: 1;
}
.pay-list li:before {
	content: '';
	display: block;
	position: relative;
	left: auto;
	top: auto;
	height: 0;
	padding: 100% 0 0;
	width: 100%;
	background: none;
	border: none;
	border-radius: 0;
	box-sizing: border-box;
}
.pay-list a {
	display: block;
	position: absolute;
	left: 1px;
	top: 0;
	right: 0;
	bottom: 1px;
	text-align: center;
	font-size: 0;
	letter-spacing: -4px;
	box-shadow: 0 0 0 1px #e6e6e6;
}
.pay-list a.ios, .pay-list a.android, .pay-list a.windows {
	display: none;
}
.ios .pay-list a.desktop,
.android .pay-list a.desktop,
.windows .pay-list a.desktop {
	display: none;
}
.ios .pay-list a.ios {
	display: block;
}
.android .pay-list a.android {
	display: block;
}
.windows .pay-list a.windows {
	display: block;
}
.desktop .pay-list a.ios,
.desktop .pay-list a.android,
.desktop .pay-list a.windows {
	display: none;
}
.desktop .pay-list a.desktop {
	display: block;
}
@media only screen and (max-width: 1023px) {
	.pay-list li {
		width: 25%;
	}
}
@media only screen and (max-width: 768px) {
	.pay-list li {
		width: 33.33%;
	}
}
.pay-img {
	display: block;
	position: absolute;
	left: 1px;
	top: 0;
	right: 0;
	bottom: 1px;
	text-align: center;
	font-size: 0;
	letter-spacing: -4px;
}
.pay-img::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.pay-img img {
	display: inline-block;
	vertical-align: middle;
	max-width: 90%;
	max-height: 90%;
	font-size: 16px;
	letter-spacing: normal;
	-ms-transform: scale(0.92, 0.92);
	    transform: scale(0.92, 0.92);
}
.pay-list li:hover img {
	-ms-transform: scale(1, 1);
	    transform: scale(1, 1);
}
.pay-list li:hover a {
	box-shadow: 0 0 0 1px #e6e6e6, 0 0 10px rgba(0, 0, 0, 0.18);
}
/*pay end */
/*# sourceMappingURL=pay.css.map */
