/*=========== SPECIAL VERSION =========== */
.vspec--hide-page {
	display: none !important;
}

body.vspec {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	line-height: 1.5;
	color: #000;
	background: #fff url(../img/empty.png) no-repeat fixed;
}

/* special version settings */
/* ============================================================ */
.vspec-mod_font-style_sans-serif body.vspec {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.vspec-mod_font-style_serif body.vspec {
	font-family: "Times New Roman", Times, Georgia, serif;
}

.vspec-mod_font-style_monospace body.vspec {
	font-family: Consolas, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

.vspec-mod_font-size_norm body.vspec {
	font-size: 18px;
}

.vspec-mod_font-size_sm body.vspec {
	font-size: 14px;
}

.vspec-mod_font-size_lg body.vspec {
	font-size: 30px;
}

.vspec-mod_line-height_sm body.vspec {
	line-height: 1.5;
}

.vspec-mod_line-height_md body.vspec {
	line-height: 2;
}

.vspec-mod_line-height_lg body.vspec {
	line-height: 2.5;
}

.vspec-mod_spacing_md body.vspec {
	letter-spacing: 0.2em;
	word-spacing: 0.2em;
}

.vspec-mod_spacing_lg body.vspec {
	letter-spacing: 0.5em;
	word-spacing: 0.5em;
}

.vspec-mod_scheme-color_white body.vspec {
	color: #fff;
	background-color: #000;
}

.vspec-mod_scheme-color_blue body.vspec {
	color: #004c92;
	background-color: #c8e5ff;
}

.vspec-mod_scheme-color_brown body.vspec {
	color: #4d4b43;
	background-color: #f7f3d6;
}

.vspec-mod_scheme-color_green body.vspec {
	color: #a9e44d;
	background-color: #3b2716;
}

/* special version reset */
/* ============================================================ */
.vspec .breadcrumbs,
.vspec .breadcrumbs-inner,
.vspec .breadcrumbs-list,
.vspec .breadcrumbs-list li,
.vspec .breadcrumbs-list a,
.vspec .breadcrumbs-list span,
.vspec .btn-default,
.vspec .files,
.vspec .files-item,
.vspec .file,
.vspec .file__content,
.vspec .form-row,
.vspec .input-wrap,
.vspec .align-layout,
.vspec .text-layout,
.vspec .header,
.vspec .header-layout,
.vspec .main-layout,
.vspec .nav,
.vspec .nav-layout,
.vspec .nav-list,
.vspec .nav-list li,
.vspec .nav-list a,
.vspec .main,
.vspec .about-section,
.vspec .title-box,
.vspec .section-note,
.vspec .about-info,
.vspec .about-info__list,
.vspec .about-info__col,
.vspec .about-info__text,
.vspec .about-info__text .text-inner,
.vspec .section-footer,
.vspec .movie-section,
.vspec .movie,
.vspec .movie__item,
.vspec .movie__text,
.vspec .movie__video-img,
.vspec .docs-section,
.vspec .call-section,
.vspec .call-content,
.vspec .call-description,
.vspec .call-list,
.vspec .call-item,
.vspec .call-item__row,
.vspec .call-item__img,
.vspec .call-item__text,
.vspec .call-item__dd,
.vspec .social-networks,
.vspec .social-networks li,
.vspec .footer-copy,
.vspec .footer-copy-i,
.vspec .copyright,
.vspec .blockquote,
.vspec .default-section,
.vspec .system-nav-orange,
.vspec .nav-title,
.vspec .nav-pages,
.vspec .content-widget,
.vspec .callback-section,
.vspec .callback,
.vspec .r-tabs-accordion-title,
.vspec .r-tabs-panel,
.vspec .form-callback,
.vspec .r-tabs-anchor,
.vspec .attention,
.vspec .form-buttons-wrap,
.vspec .form-buttons-col,
.vspec .faq-list,
.vspec .faq-item,
.vspec .faq-item h3 + div,
.vspec .faq-item h3 + p,
.vspec .terminals-item,
.vspec .terminals-item h3 + div,
.vspec .terminals-item h3 + p,
.vspec .terminals-more,
.vspec .news-section,
.vspec .news-articles,
.vspec .news-article,
.vspec .news-article a,
.vspec .news-article figure,
.vspec .news-article footer,
.vspec .news-article time,
.vspec .news-article .news-article__text,
.vspec .faq-section,
.vspec .advantages-section,
.vspec .advantages,
.vspec .advantages-item,
.vspec .advantages-img,
.vspec .advantages-item h3,
.vspec .helpful-section,
.vspec .helpful__note,
.vspec .cells-list,
.vspec .cells-list li,
.vspec .cells-list a,
.vspec .terminals,
.vspec .terminals-item,
.vspec .terminals-item__holder,
.vspec .s-points,
.vspec .s-points__filters,
.vspec .s-points__filters-item,
.vspec .info-section,
.vspec .info,
.vspec .info-holder,
.vspec .info-row,
.vspec .info-item,
.vspec .info-item__inner,
.vspec .easy,
.vspec .easy-list,
.vspec .easy-item,
.vspec .easy-text,
.vspec .agency,
.vspec .structure,
.vspec .structure__list,
.vspec .structure__list ul,
.vspec .structure__list li,
.vspec .structure__title,
.vspec .structure__inner,
.vspec .structure__content,
.vspec .reset-full,
.vspec .reset-full {
	display: block;
	float: none;
	position: initial;
	overflow: visible;
	height: auto;
	min-height: 0;
	max-height: none;
	width: auto;
	min-width: 0;
	max-width: none;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	padding: 0;
	margin: 0;
	-ms-transform: none;
	    transform: none;
	border: none;
	background: none;
	box-shadow: none;
	opacity: 1;
	visibility: visible;
	z-index: auto;
	font-family: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
	text-indent: 0;
	line-height: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	color: inherit;
	text-align: left;
	text-transform: none;
	box-sizing: border-box;
	perspective: none;
}

.vspec h1, .vspec h2, .vspec h3, .vspec h4, .vspec h5, .vspec h6, .vspec p,
.vspec b, .vspec strong, .vspec th,
.vspec i, .vspec em,
.vspec i b, .vspec i strong,
.vspec em b, .vspec em strong,
.vspec b i, .vspec b em,
.vspec strong i, .vspec strong em,
.vspec .breadcrumbs-list,
.vspec .datetime time,
.vspec blockquote q,
.vspec blockquote > p,
.vspec blockquote cite,
.vspec .label-holder,
.vspec label, .vspec .label,
.vspec .form-mark,
.vspec .files,
.vspec .files .files-item,
.vspec .file,
.vspec .file__title,
.vspec .file__info,
.vspec .btn-menu,
.vspec .form-row .input-wrap,
.vspec .unif-form .errors,
.vspec input[type="checkbox"] + label,
.vspec input[type="radio"] + label,
.vspec .nav-current-page,
.vspec .btn-submit > span,
.vspec .btn-reset > span,
.vspec .easy-text,
.vspec .font-reset,
.vspec .font-reset {
	font-family: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	text-align: left;
	text-transform: none;
	white-space: normal;
}

.vspec .font-of-text,
.vspec .font-of-text {
	padding: 0;
	margin-bottom: 0.6em;
	font-family: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	text-align: left;
	text-transform: none;
	white-space: normal;
}

.vspec .font-of-text:last-child,
.vspec .font-of-text:last-child {
	margin-bottom: 0;
}

.vspec .font-of-title,
.vspec .font-of-title {
	padding: 0;
	margin-bottom: 0.6em;
	font-family: inherit;
	font-weight: bold;
	font-style: normal;
	font-size: 2em;
	line-height: 1.33;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-transform: none;
	color: inherit;
	text-align: left;
}

@media (max-width: 639px) {
	.vspec .font-of-title,
	.vspec .font-of-title {
		word-wrap: break-word;
	}
}

.vspec .font-of-title:last-child,
.vspec .font-of-title:last-child {
	margin-bottom: 0;
}

.vspec .font-of-section,
.vspec .font-of-section {
	padding: 0;
	margin-bottom: 0.6em;
	font-family: inherit;
	font-weight: bold;
	font-style: normal;
	font-size: 1.44em;
	line-height: 1.46;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-transform: none;
	color: inherit;
	text-align: left;
}

@media (max-width: 639px) {
	.vspec .font-of-section,
	.vspec .font-of-section {
		word-wrap: break-word;
	}
}

.vspec .font-of-section:last-child,
.vspec .font-of-section:last-child {
	margin-bottom: 0;
}

.vspec .r-tabs-anchor,
.vspec .advantages-item h3,
.vspec .font-of-item,
.vspec .font-of-item {
	padding: 0;
	margin-bottom: 0.6em;
	font-family: inherit;
	font-weight: bold;
	font-style: normal;
	font-size: 1.22em;
	line-height: 1.55;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-transform: none;
	color: inherit;
	text-align: left;
}

@media (max-width: 639px) {
	.vspec .r-tabs-anchor,
	.vspec .advantages-item h3,
	.vspec .font-of-item,
	.vspec .font-of-item {
		word-wrap: break-word;
	}
}

.vspec .r-tabs-anchor:last-child,
.vspec .advantages-item h3:last-child,
.vspec .font-of-item:last-child,
.vspec .font-of-item:last-child {
	margin-bottom: 0;
}

.vspec .file__info,
.vspec .datetime,
.vspec .font-of-small,
.vspec .font-of-small {
	padding: 0;
	margin-bottom: 0.6em;
	font-family: inherit;
	font-weight: normal;
	font-style: italic;
	font-size: 0.89em;
	line-height: 1.75;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-transform: none;
	color: inherit;
	text-align: left;
}

.vspec .file__info:last-child,
.vspec .datetime:last-child,
.vspec .font-of-small:last-child,
.vspec .font-of-small:last-child {
	margin-bottom: 0;
}

.vspec .file,
.vspec [class|="depict-files"]:before,
.vspec [class*=" depict-files-"]:before,
.vspec [class|="depict-files"]:after,
.vspec [class*=" depict-files-"]:after,
.vspec .file__title,
.vspec .file__info,
.vspec .no-transition,
.vspec .no-transition {
	transition: none;
}

.vspec .sidebar,
.vspec .sidebar-overlay,
.vspec .sidebar-large,
.vspec .sidebar .logo,
.vspec .btn-sidebar,
.vspec .header .search-form,
.vspec .btn-site-map,
.vspec .site-map,
.vspec .about-desc,
.vspec .about-info__img,
.vspec .btn-default .depict-download,
.vspec .call-img,
.vspec .footer-container,
.vspec .social-networks a > i,
.vspec .btn-aside,
.vspec .tab-controls,
.vspec .btn-submit > i,
.vspec .btn-reset > i,
.vspec .faq-item__angle,
.vspec .terminals-item__angle,
.vspec .promo-slider,
.vspec .easy-bg,
.vspec .easy-img,
.vspec .structure__angle,
.vspec .spec-hide,
.vspec .spec-hide {
	display: none !important;
}

.vspec .header-layout::before,
.vspec .about-info__col::before,
.vspec .about-info::before,
.vspec .about-info__list::before,
.vspec .file::before,
.vspec .social-networks a::before,
.vspec .call-item::before,
.vspec input[type="checkbox"] + label::before,
.vspec input[type="radio"] + label::before,
.vspec .cells-list::before,
.vspec .cells-list li::before,
.vspec .easy-list::before,
.vspec .advantages-item h3::before,
.vspec .structure__title::before,
.vspec .spec-hide-before::before,
.vspec .spec-hide-before::before {
	display: none !important;
}

.vspec .header-layout::after,
.vspec .about-info::after,
.vspec .about-info__list::after,
.vspec .file::after,
.vspec input[type="checkbox"] + label::after,
.vspec input[type="radio"] + label::after,
.vspec .social-networks::after,
.vspec .cells-list::after,
.vspec .easy-list::after,
.vspec .advantages-item h3::after,
.vspec .spec-hide-after::after,
.vspec .spec-hide-after::after {
	display: none !important;
}

.vspec polygon,
.vspec rect,
.vspec path,
.vspec .svg-path,
.vspec .svg-path {
	fill: currentColor;
}

.vspec .reset-bg {
	background-color: #fff;
}

.vspec-mod_scheme-color_white .vspec .reset-bg {
	background-color: #000;
}

.vspec-mod_scheme-color_blue .vspec .reset-bg {
	background-color: #c8e5ff;
}

.vspec-mod_scheme-color_brown .vspec .reset-bg {
	background-color: #f7f3d6;
}

.vspec-mod_scheme-color_green .vspec .reset-bg {
	background-color: #3b2716;
}

.vspec .unif-form .errors, .vspec mark, .vspec .reset-bg-invert, .vspec .nav-current-page {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.vspec-mod_scheme-color_white .vspec .unif-form .errors, .vspec-mod_scheme-color_white .vspec mark, .vspec-mod_scheme-color_white .vspec .reset-bg-invert, .vspec-mod_scheme-color_white .vspec .nav-current-page {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

.vspec-mod_scheme-color_blue .vspec .unif-form .errors, .vspec-mod_scheme-color_blue .vspec mark, .vspec-mod_scheme-color_blue .vspec .reset-bg-invert, .vspec-mod_scheme-color_blue .vspec .nav-current-page {
	color: #c8e5ff;
	background-color: #004c92;
	border-color: #004c92;
}

.vspec-mod_scheme-color_brown .vspec .unif-form .errors, .vspec-mod_scheme-color_brown .vspec mark, .vspec-mod_scheme-color_brown .vspec .reset-bg-invert, .vspec-mod_scheme-color_brown .vspec .nav-current-page {
	color: #f7f3d6;
	background-color: #4d4b43;
	border-color: #4d4b43;
}

.vspec-mod_scheme-color_green .vspec .unif-form .errors, .vspec-mod_scheme-color_green .vspec mark, .vspec-mod_scheme-color_green .vspec .reset-bg-invert, .vspec-mod_scheme-color_green .vspec .nav-current-page {
	color: #3b2716;
	background-color: #a9e44d;
	border-color: #a9e44d;
}

.vspec h1, .vspec h2, .vspec h3, .vspec h4, .vspec h5, .vspec h6, .vspec p,
.vspec .text-layout,
.vspec .calc__box,
.vspec .content,
.vspec .datetime,
.vspec blockquote,
.vspec .file,
.vspec .file__title,
.vspec .reset-padding,
.vspec .reset-padding {
	padding: 0;
}

.vspec .about-section,
.vspec .movie-section,
.vspec .docs-section,
.vspec .call-section,
.vspec .callback-section,
.vspec .faq-list,
.vspec .default-section,
.vspec .news-section,
.vspec .faq-section,
.vspec .advantages-section,
.vspec .helpful-section,
.vspec .cells-list,
.vspec .terminals,
.vspec .terminals-more,
.vspec .s-points,
.vspec .info-section,
.vspec .spec-bottom-space-section,
.vspec .spec-bottom-space-section {
	margin-bottom: 3.6em;
}

.vspec .about-section:last-child,
.vspec .movie-section:last-child,
.vspec .docs-section:last-child,
.vspec .call-section:last-child,
.vspec .callback-section:last-child,
.vspec .faq-list:last-child,
.vspec .default-section:last-child,
.vspec .news-section:last-child,
.vspec .faq-section:last-child,
.vspec .advantages-section:last-child,
.vspec .helpful-section:last-child,
.vspec .cells-list:last-child,
.vspec .terminals:last-child,
.vspec .terminals-more:last-child,
.vspec .s-points:last-child,
.vspec .info-section:last-child,
.vspec .spec-bottom-space-section:last-child,
.vspec .spec-bottom-space-section:last-child {
	margin-bottom: 0;
}

.vspec .breadcrumbs,
.vspec .movie,
.vspec .movie__item,
.vspec .tabs-panel,
.vspec .callback,
.vspec .tabs-container,
.vspec .r-tabs,
.vspec .faq-item,
.vspec .terminals-item,
.vspec .news-article,
.vspec .advantages,
.vspec .advantages-item,
.vspec .helpful,
.vspec .cells-list li,
.vspec .s-points__filters,
.vspec .info,
.vspec .info-row,
.vspec .info-item,
.vspec .easy,
.vspec .agency,
.vspec .spec-bottom-space-item,
.vspec .spec-bottom-space-item {
	margin-bottom: 2.4em;
}

.vspec .breadcrumbs:last-child,
.vspec .movie:last-child,
.vspec .movie__item:last-child,
.vspec .tabs-panel:last-child,
.vspec .callback:last-child,
.vspec .tabs-container:last-child,
.vspec .r-tabs:last-child,
.vspec .faq-item:last-child,
.vspec .terminals-item:last-child,
.vspec .news-article:last-child,
.vspec .advantages:last-child,
.vspec .advantages-item:last-child,
.vspec .helpful:last-child,
.vspec .cells-list li:last-child,
.vspec .s-points__filters:last-child,
.vspec .info:last-child,
.vspec .info-row:last-child,
.vspec .info-item:last-child,
.vspec .easy:last-child,
.vspec .agency:last-child,
.vspec .spec-bottom-space-item:last-child,
.vspec .spec-bottom-space-item:last-child {
	margin-bottom: 0;
}

.vspec h1, .vspec h2, .vspec h3, .vspec h4, .vspec h5, .vspec h6,
.vspec p, .vspec hr, .vspec blockquote,
.vspec blockquote q,
.vspec blockquote > p,
.vspec .files,
.vspec .files .files-item,
.vspec .title-box,
.vspec .section-note,
.vspec .about-info,
.vspec .about-info__col,
.vspec .section-footer,
.vspec .call-item,
.vspec .call-description,
.vspec .text-layout,
.vspec .blockquote,
.vspec .system-nav-orange,
.vspec .content-widget,
.vspec .form-row,
.vspec .input-wrap,
.vspec .r-tabs-accordion-title,
.vspec .attention,
.vspec .form-buttons-col,
.vspec .align-layout,
.vspec .s-points__filters-item,
.vspec .spec-bottom-space,
.vspec .spec-bottom-space {
	margin-bottom: 1.2em;
}

.vspec h1:last-child, .vspec h2:last-child, .vspec h3:last-child, .vspec h4:last-child, .vspec h5:last-child, .vspec h6:last-child,
.vspec p:last-child, .vspec hr:last-child, .vspec blockquote:last-child,
.vspec blockquote q:last-child,
.vspec blockquote > p:last-child,
.vspec .files:last-child,
.vspec .files .files-item:last-child,
.vspec .title-box:last-child,
.vspec .section-note:last-child,
.vspec .about-info:last-child,
.vspec .about-info__col:last-child,
.vspec .section-footer:last-child,
.vspec .call-item:last-child,
.vspec .call-description:last-child,
.vspec .text-layout:last-child,
.vspec .blockquote:last-child,
.vspec .system-nav-orange:last-child,
.vspec .content-widget:last-child,
.vspec .form-row:last-child,
.vspec .input-wrap:last-child,
.vspec .r-tabs-accordion-title:last-child,
.vspec .attention:last-child,
.vspec .form-buttons-col:last-child,
.vspec .align-layout:last-child,
.vspec .s-points__filters-item:last-child,
.vspec .spec-bottom-space:last-child,
.vspec .spec-bottom-space:last-child {
	margin-bottom: 0;
}

.vspec .movie__video,
.vspec .movie__text,
.vspec .nav-title,
.vspec .nav-pages,
.vspec .news-article figure,
.vspec .news-article footer,
.vspec .advantages-img,
.vspec .helpful__note,
.vspec .spec-bottom-space-element,
.vspec .spec-bottom-space-element {
	margin-bottom: 0.6em;
}

.vspec .movie__video:last-child,
.vspec .movie__text:last-child,
.vspec .nav-title:last-child,
.vspec .nav-pages:last-child,
.vspec .news-article figure:last-child,
.vspec .news-article footer:last-child,
.vspec .advantages-img:last-child,
.vspec .helpful__note:last-child,
.vspec .spec-bottom-space-element:last-child,
.vspec .spec-bottom-space-element:last-child {
	margin-bottom: 0;
}

.vspec-mod_mono .vspec img,
.vspec-mod_mono .vspec [class*="depict-files-"],
.vspec-mod_mono .vspec .call-item__img,
.vspec-mod_mono .vspec .local-map,
.vspec-mod_mono .vspec .depict-pin,
.vspec-mod_mono .vspec .qr-code-btn::before,
.vspec-mod_mono .vspec .grayscale,
.vspec-mod_mono .vspec .grayscale {
	filter: grayscale(1) contrast(1) invert(0);
}

html:not(.vspec-mod_img_on) .vspec [class*="depict-files-"],
html:not(.vspec-mod_img_on) .vspec .logo img,
html:not(.vspec-mod_img_on) .vspec .content img,
html:not(.vspec-mod_img_on) .vspec .call-item__img,
html:not(.vspec-mod_img_on) .vspec .local-map,
html:not(.vspec-mod_img_on) .vspec .qr-code-btn::before,
html:not(.vspec-mod_img_on) .vspec .spec-no-img,
html:not(.vspec-mod_img_on) .vspec .spec-no-img {
	display: none !important;
}

html:not(.vspec-mod_img_on) .vspec .qr-code-btn {
	padding-left: 10px;
}

.vspec .pic-slider .slick-list {
	height: auto !important;
	-ms-transform: none !important;
	    transform: none !important;
	overflow: visible;
}

.vspec .pic-slider, .vspec .pic-slider.slick-dotted {
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	padding: 0;
	margin-bottom: 2.4em;
}

.vspec .pic-slider.slick-slider {
	-webkit-user-select: auto !important;
	   -moz-user-select: auto !important;
	    -ms-user-select: auto !important;
	        user-select: auto !important;
}

.vspec .pic-slider .slick-track {
	opacity: 1 !important;
	left: auto !important;
	width: auto !important;
	-ms-transform: none !important;
	transform: none !important;
}

.vspec .pic-slider .slick-track::before, .vspec .pic-slider .slick-track::after {
	content: none;
}

.vspec .pic-slider .slick-slide {
	position: relative !important;
	width: auto !important;
	height: auto !important;
	opacity: 1 !important;
	left: auto !important;
	top: auto !important;
	float: none !important;
	z-index: auto !important;
	margin-bottom: 1.2em;
}

.vspec .pic-slider .slick-arrow {
	display: none !important;
}

.vspec .pic-slider .slick-dots {
	display: none !important;
}

.vspec .header,
.vspec .main-layout {
	box-sizing: border-box;
	max-width: calc(920px + 2.22em * 2);
	margin-right: auto;
	margin-left: auto;
	padding-right: 2.22em;
	padding-left: 2.22em;
}

@media (max-width: 979px) {
	.vspec .header,
	.vspec .main-layout {
		max-width: none;
		padding-right: 1.11em;
		padding-left: 1.11em;
	}
}

@media (max-width: 479px) {
	.vspec .header,
	.vspec .main-layout {
		padding-right: 0.83em;
		padding-left: 0.83em;
	}
}

.vspec .main {
	margin: 0 auto;
	max-width: 44em;
}

@media (max-width: 979px) {
	.vspec .main {
		max-width: 36em;
	}
}

@media (max-width: 767px) {
	.vspec .main {
		max-width: none;
	}
}

/* special version buttons */
/* ============================================================ */
.vspec .btn-default,
.vspec .btn-default-alt,
.vspec .btn-submit,
.vspec .btn-reset {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: auto;
	height: auto;
	font-family: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
	line-height: 1.1;
	padding: 10px 18px;
	cursor: pointer;
	letter-spacing: inherit;
	text-transform: uppercase;
	transition: none;
	text-decoration: none;
	border: 2px solid currentColor;
	border-radius: 10px;
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.vspec-mod_scheme-color_white .vspec .btn-default, .vspec-mod_scheme-color_white
.vspec .btn-default-alt, .vspec-mod_scheme-color_white
.vspec .btn-submit, .vspec-mod_scheme-color_white
.vspec .btn-reset {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

.vspec-mod_scheme-color_blue .vspec .btn-default, .vspec-mod_scheme-color_blue
.vspec .btn-default-alt, .vspec-mod_scheme-color_blue
.vspec .btn-submit, .vspec-mod_scheme-color_blue
.vspec .btn-reset {
	color: #c8e5ff;
	background-color: #004c92;
	border-color: #004c92;
}

.vspec-mod_scheme-color_brown .vspec .btn-default, .vspec-mod_scheme-color_brown
.vspec .btn-default-alt, .vspec-mod_scheme-color_brown
.vspec .btn-submit, .vspec-mod_scheme-color_brown
.vspec .btn-reset {
	color: #f7f3d6;
	background-color: #4d4b43;
	border-color: #4d4b43;
}

.vspec-mod_scheme-color_green .vspec .btn-default, .vspec-mod_scheme-color_green
.vspec .btn-default-alt, .vspec-mod_scheme-color_green
.vspec .btn-submit, .vspec-mod_scheme-color_green
.vspec .btn-reset {
	color: #3b2716;
	background-color: #a9e44d;
	border-color: #a9e44d;
}

.vspec .btn-default::before, .vspec .btn-default::after,
.vspec .btn-default-alt::before,
.vspec .btn-default-alt::after,
.vspec .btn-submit::before,
.vspec .btn-submit::after,
.vspec .btn-reset::before,
.vspec .btn-reset::after {
	display: none;
}

.vspec .btn-default:hover, .vspec .btn-default:focus,
.vspec .btn-default-alt:hover,
.vspec .btn-default-alt:focus,
.vspec .btn-submit:hover,
.vspec .btn-submit:focus,
.vspec .btn-reset:hover,
.vspec .btn-reset:focus {
	background: none;
	color: inherit;
	border-color: inherit;
}

.vspec .nav-list a, .vspec .nav-list .current > a {
	display: inline-block;
	vertical-align: top;
	width: auto;
	height: auto;
	font-family: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: 1.22em;
	line-height: 1.55;
	padding: 0.3em 0.6em;
	cursor: pointer;
	letter-spacing: inherit;
	text-transform: none;
	transition: none;
	text-decoration: none;
	border: 2px solid currentColor;
	border-radius: 0.5em;
	background-color: #fff;
}

.vspec-mod_scheme-color_white .vspec .nav-list a, .vspec-mod_scheme-color_white .vspec .nav-list .current > a {
	background-color: #000;
}

.vspec-mod_scheme-color_blue .vspec .nav-list a, .vspec-mod_scheme-color_blue .vspec .nav-list .current > a {
	background-color: #c8e5ff;
}

.vspec-mod_scheme-color_brown .vspec .nav-list a, .vspec-mod_scheme-color_brown .vspec .nav-list .current > a {
	background-color: #f7f3d6;
}

.vspec-mod_scheme-color_green .vspec .nav-list a, .vspec-mod_scheme-color_green .vspec .nav-list .current > a {
	background-color: #3b2716;
}

.vspec .nav-list a::before, .vspec .nav-list a::after, .vspec .nav-list .current > a::before, .vspec .nav-list .current > a::after {
	display: none;
}

.vspec .nav-list a:hover, .vspec .nav-list .current > a:hover {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.vspec-mod_scheme-color_white .vspec .nav-list a:hover, .vspec-mod_scheme-color_white .vspec .nav-list .current > a:hover {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

.vspec-mod_scheme-color_blue .vspec .nav-list a:hover, .vspec-mod_scheme-color_blue .vspec .nav-list .current > a:hover {
	color: #c8e5ff;
	background-color: #004c92;
	border-color: #004c92;
}

.vspec-mod_scheme-color_brown .vspec .nav-list a:hover, .vspec-mod_scheme-color_brown .vspec .nav-list .current > a:hover {
	color: #f7f3d6;
	background-color: #4d4b43;
	border-color: #4d4b43;
}

.vspec-mod_scheme-color_green .vspec .nav-list a:hover, .vspec-mod_scheme-color_green .vspec .nav-list .current > a:hover {
	color: #3b2716;
	background-color: #a9e44d;
	border-color: #a9e44d;
}

.vspec .nav-list .current > a {
	font-weight: bold;
	background: none;
}

.vspec .nav-list .active > a {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.vspec-mod_scheme-color_white .vspec .nav-list .active > a {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

.vspec-mod_scheme-color_blue .vspec .nav-list .active > a {
	color: #c8e5ff;
	background-color: #004c92;
	border-color: #004c92;
}

.vspec-mod_scheme-color_brown .vspec .nav-list .active > a {
	color: #f7f3d6;
	background-color: #4d4b43;
	border-color: #4d4b43;
}

.vspec-mod_scheme-color_green .vspec .nav-list .active > a {
	color: #3b2716;
	background-color: #a9e44d;
	border-color: #a9e44d;
}

/* special version typography */
/* ============================================================ */
.vspec h1, .vspec h2, .vspec h3, .vspec h4, .vspec h5, .vspec h6 {
	font-weight: bold;
	text-align: left;
}

@media (max-width: 639px) {
	.vspec h1, .vspec h2, .vspec h3, .vspec h4, .vspec h5, .vspec h6 {
		word-break: break-word;
	}
}

.vspec p + h2, .vspec p + h3, .vspec p + h4, .vspec p + h5, .vspec p + h6, .vspec ul + h2, .vspec ul + h3, .vspec ul + h4, .vspec ul + h5, .vspec ul + h6, .vspec ol + h2, .vspec ol + h3, .vspec ol + h4, .vspec ol + h5, .vspec ol + h6 {
	padding: 0;
}

.vspec h1 {
	font-size: 2em;
	line-height: 1.33;
}

.vspec h2 {
	font-size: 1.44em;
	line-height: 1.46;
}

.vspec .heading h1, .vspec .heading h2 {
	margin-top: 0 !important;
	margin-bottom: 0.5cm !important;
	padding-bottom: 0 !important;
}

.vspec h3 {
	font-size: 1.22em;
	line-height: 1.55;
}

.vspec h4, .vspec h5, .vspec h6 {
	font-size: inherit;
	line-height: inherit;
}

.vspec h5, .vspec h6 {
	font-weight: normal;
	text-transform: uppercase;
}

.vspec a {
	color: currentColor;
	text-decoration: underline;
	transition: none;
}

.vspec a:hover {
	text-decoration: none;
}

.vspec b, .vspec strong, .vspec th {
	font-weight: bold;
}

.vspec i, .vspec em {
	font-style: italic;
}

.vspec i b, .vspec i strong,
.vspec em b, .vspec em strong,
.vspec b i, .vspec b em,
.vspec strong i, .vspec strong em {
	font-weight: bold;
	font-style: italic;
}

.vspec hr {
	margin-top: 2.4em;
	border-color: currentColor;
	border-width: 2px;
}

.vspec table, .vspec .tbl {
	border-color: currentColor;
	margin-bottom: 1.2em;
}

.vspec table:last-child, .vspec .tbl:last-child {
	margin-bottom: 0;
}

.vspec table td, .vspec table th, .vspec .tbl td, .vspec .tbl th {
	font-family: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	text-align: left;
	text-transform: none;
	white-space: normal;
	text-transform: none;
	border: 1px solid currentColor;
	background: none;
}

.vspec table th, .vspec .tbl th {
	font-weight: bold;
}

.vspec table caption, .vspec .tbl caption {
	font-size: 0.89em;
	line-height: 1.75;
	color: inherit;
	font-style: italic;
}

.vspec .tbl table {
	margin-bottom: 0;
}

.vspec hr {
	border-bottom-color: currentColor;
}

.vspec .mark {
	color: #fff;
	background-color: #000;
}

.vspec-mod_scheme-color_white .vspec .mark {
	color: #000;
	background-color: #fff;
}

.vspec-mod_scheme-color_blue .vspec .mark {
	color: #c8e5ff;
	background-color: #004c92;
}

.vspec-mod_scheme-color_brown .vspec .mark {
	color: #f7f3d6;
	background-color: #4d4b43;
}

.vspec-mod_scheme-color_green .vspec .mark {
	color: #3b2716;
	background-color: #a9e44d;
}

.vspec input[type="text"],
.vspec input[type="password"],
.vspec input[type="email"],
.vspec input[type="search"],
.vspec textarea,
.vspec .select select {
	font-family: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	line-height: 24px;
	height: 50px;
	padding: 11px 10px;
	letter-spacing: inherit;
	box-shadow: none;
	color: inherit;
	transition: none;
	background: none;
	border-radius: 0;
	border: 2px solid currentColor;
	box-sizing: border-box;
	margin-bottom: 1.2em;
}

.vspec input[type="text"]:last-child,
.vspec input[type="password"]:last-child,
.vspec input[type="email"]:last-child,
.vspec input[type="search"]:last-child,
.vspec textarea:last-child,
.vspec .select select:last-child {
	margin-bottom: 0;
}

.touchevents .vspec input[type="text"], .touchevents
.vspec input[type="password"], .touchevents
.vspec input[type="email"], .touchevents
.vspec input[type="search"], .touchevents
.vspec textarea, .touchevents
.vspec .select select {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	outline: none;
}

.vspec-mod_font-size_lg .vspec input[type="text"], .vspec-mod_font-size_lg
.vspec input[type="password"], .vspec-mod_font-size_lg
.vspec input[type="email"], .vspec-mod_font-size_lg
.vspec input[type="search"], .vspec-mod_font-size_lg
.vspec textarea, .vspec-mod_font-size_lg
.vspec .select select {
	font-size: 22px;
}

.vspec input[type="text"].error,
.vspec input[type="password"].error,
.vspec input[type="email"].error,
.vspec input[type="search"].error,
.vspec textarea.error,
.vspec .select select.error {
	border-color: currentColor;
	box-shadow: none;
	color: inherit;
}

.vspec input[type="text"]:focus,
.vspec input[type="password"]:focus,
.vspec input[type="email"]:focus,
.vspec input[type="search"]:focus,
.vspec textarea:focus,
.vspec .select select:focus {
	box-shadow: none;
}

.vspec input[type="text"]::-webkit-input-placeholder, .vspec input[type="password"]::-webkit-input-placeholder, .vspec input[type="email"]::-webkit-input-placeholder, .vspec input[type="search"]::-webkit-input-placeholder, .vspec textarea::-webkit-input-placeholder, .vspec .select select::-webkit-input-placeholder {
	color: currentColor;
	transition: none;
}

.vspec input[type="text"]:-moz-placeholder, .vspec input[type="password"]:-moz-placeholder, .vspec input[type="email"]:-moz-placeholder, .vspec input[type="search"]:-moz-placeholder, .vspec textarea:-moz-placeholder, .vspec .select select:-moz-placeholder {
	color: currentColor;
	transition: none;
}

.vspec input[type="text"]::-moz-placeholder, .vspec input[type="password"]::-moz-placeholder, .vspec input[type="email"]::-moz-placeholder, .vspec input[type="search"]::-moz-placeholder, .vspec textarea::-moz-placeholder, .vspec .select select::-moz-placeholder {
	opacity: 1;
	color: currentColor;
	transition: none;
}

.vspec input[type="text"]:-ms-input-placeholder, .vspec input[type="password"]:-ms-input-placeholder, .vspec input[type="email"]:-ms-input-placeholder, .vspec input[type="search"]:-ms-input-placeholder, .vspec textarea:-ms-input-placeholder, .vspec .select select:-ms-input-placeholder {
	opacity: 1;
	color: currentColor;
	transition: none;
}

.vspec input[type="text"].placeholder, .vspec input[type="password"].placeholder, .vspec input[type="email"].placeholder, .vspec input[type="search"].placeholder, .vspec textarea.placeholder, .vspec .select select.placeholder {
	color: currentColor;
	transition: none;
}

.vspec .select:before, .vspec .select:after {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.vspec-mod_scheme-color_white .vspec .select:before, .vspec-mod_scheme-color_white .vspec .select:after {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

.vspec-mod_scheme-color_blue .vspec .select:before, .vspec-mod_scheme-color_blue .vspec .select:after {
	color: #c8e5ff;
	background-color: #004c92;
	border-color: #004c92;
}

.vspec-mod_scheme-color_brown .vspec .select:before, .vspec-mod_scheme-color_brown .vspec .select:after {
	color: #f7f3d6;
	background-color: #4d4b43;
	border-color: #4d4b43;
}

.vspec-mod_scheme-color_green .vspec .select:before, .vspec-mod_scheme-color_green .vspec .select:after {
	color: #3b2716;
	background-color: #a9e44d;
	border-color: #a9e44d;
}

.vspec input[type="checkbox"], .vspec input[type="radio"] {
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.3em;
}

.vspec input[type="checkbox"] + label, .vspec input[type="radio"] + label {
	display: inline-block;
	vertical-align: middle;
}

.vspec input[type="checkbox"] + label > span, .vspec input[type="radio"] + label > span {
	padding: 0;
	z-index: auto;
	display: inline;
	vertical-align: baseline;
}

.vspec input[type="checkbox"] + label > span::before, .vspec input[type="checkbox"] + label > span::after, .vspec input[type="radio"] + label > span::before, .vspec input[type="radio"] + label > span::after {
	display: none !important;
}

.vspec .select {
	background: none;
}

.vspec ul, .vspec ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.vspec .user-content ul:not(.breadcrumbs-list):not(.social-networks):not(.radio-list):not(.checkbox-list):not(.cells-list), .vspec .user-content ol:not(.breadcrumbs-list):not(.social-networks):not(.radio-list):not(.checkbox-list):not(.cells-list) {
	padding: 0;
	margin-bottom: 1.2em;
}

.vspec .user-content ul:not(.breadcrumbs-list):not(.social-networks):not(.radio-list):not(.checkbox-list):not(.cells-list):last-child, .vspec .user-content ol:not(.breadcrumbs-list):not(.social-networks):not(.radio-list):not(.checkbox-list):not(.cells-list):last-child {
	margin-bottom: 0;
}

.vspec .user-content ul:not(.breadcrumbs-list):not(.social-networks):not(.radio-list):not(.checkbox-list):not(.cells-list) ul, .vspec .user-content ul:not(.breadcrumbs-list):not(.social-networks):not(.radio-list):not(.checkbox-list):not(.cells-list) ol, .vspec .user-content ol:not(.breadcrumbs-list):not(.social-networks):not(.radio-list):not(.checkbox-list):not(.cells-list) ul, .vspec .user-content ol:not(.breadcrumbs-list):not(.social-networks):not(.radio-list):not(.checkbox-list):not(.cells-list) ol {
	margin-bottom: 0;
}

.vspec .user-content ul:not(.breadcrumbs-list):not(.social-networks):not(.radio-list):not(.checkbox-list):not(.cells-list) li, .vspec .user-content ol:not(.breadcrumbs-list):not(.social-networks):not(.radio-list):not(.checkbox-list):not(.cells-list) li {
	padding-top: 0;
	padding-left: 1.39em;
	margin-top: 0.25em;
}

.vspec .user-content ul:not(.breadcrumbs-list):not(.social-networks):not(.radio-list):not(.checkbox-list):not(.cells-list) li::before, .vspec .user-content ul:not(.breadcrumbs-list):not(.social-networks):not(.radio-list):not(.checkbox-list):not(.cells-list) li:first-child::before, .vspec .user-content ol:not(.breadcrumbs-list):not(.social-networks):not(.radio-list):not(.checkbox-list):not(.cells-list) li::before, .vspec .user-content ol:not(.breadcrumbs-list):not(.social-networks):not(.radio-list):not(.checkbox-list):not(.cells-list) li:first-child::before {
	color: currentColor;
	border-color: currentColor;
}

.vspec .user-content ol li::before {
	margin-left: -1.39em;
	min-width: 1.39em;
	font-weight: bold;
}

.vspec .user-content ul:not(.breadcrumbs-list):not(.social-networks):not(.radio-list):not(.checkbox-list):not(.cells-list) li::before, .vspec .user-content ol ul:not(.breadcrumbs-list):not(.social-networks):not(.radio-list):not(.checkbox-list):not(.cells-list) li::before {
	top: 0.65em;
	left: 0;
	min-width: 0;
	margin-left: 0;
	width: 0.5em;
	height: 0.5em;
	border-radius: 0.5em;
	border: none;
	background-color: currentColor;
}

.vspec blockquote {
	max-width: 34em;
	background: none;
	margin-left: auto;
	margin-right: auto;
}

.vspec blockquote q {
	font-size: 1.22em;
	line-height: 1.55;
	font-style: italic;
	border-color: currentColor;
	padding: 0;
}

.vspec blockquote q::before, .vspec blockquote q::after {
	display: none;
}

.vspec blockquote cite {
	font-style: italic;
}

.vspec .imgc, .vspec .imgr, .vspec .imgl {
	padding: 0;
	margin: 0 auto 1.2em;
}

.vspec .imgr {
	margin-left: 1em;
}

@media (max-width: 639px) {
	.vspec .imgr {
		margin-left: auto;
	}
}

.vspec .imgl {
	margin-right: 1em;
}

@media (max-width: 639px) {
	.vspec .imgl {
		margin-right: auto;
	}
}

/* special version components */
/* ============================================================ */
/* to top */
.vspec .btn-to-top {
	opacity: 0.5;
}

.vspec .btn-to-top i::before, .vspec .btn-to-top i::after {
	background-color: currentColor;
}

.no-touchevents .vspec .btn-to-top:hover {
	opacity: 0.9;
}

/* to top end */
.vspec .full-page h1, .vspec .full-page h2, .vspec .full-page h3, .vspec .full-page h4, .vspec .full-page h5, .vspec .full-page h6 {
	max-width: none;
}

.vspec .sidebar {
	width: auto !important;
}

.vspec .header-layout {
	text-align: center;
}

.vspec .logo {
	position: relative;
	left: auto;
	top: auto;
	display: inline-block;
	vertical-align: top;
	width: auto;
	height: auto;
	background: none;
	border: none;
	z-index: auto;
	box-sizing: border-box;
	margin-bottom: 20px;
}

@media (max-width: 639px) {
	.vspec .logo {
		text-align: center;
	}
}

.vspec .logo a {
	height: auto;
	padding: 0;
	display: inline-block;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: start;
	    justify-content: flex-start;
	-ms-flex-align: center;
	    align-items: center;
	text-align: left;
}

@media (max-width: 639px) {
	.vspec .logo a {
		display: inline-block;
		vertical-align: top;
	}
}

.vspec .logo img, .vspec .logo .logo__text {
	display: inline-block;
	margin: 0;
}

@media (max-width: 639px) {
	.vspec .logo img, .vspec .logo .logo__text {
		display: block;
		text-align: center;
	}
}

.vspec .logo img {
	margin-right: 1em;
}

@media (max-width: 639px) {
	.vspec .logo img {
		margin: 0 auto;
	}
}

.vspec .logo .logo__text {
	left: auto;
	top: auto;
	opacity: 1;
	font-family: inherit;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: currentColor;
	letter-spacing: normal;
	word-spacing: normal;
}

.vspec .nav-list {
	max-height: none !important;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: start;
	    align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

@media (max-width: 639px) {
	.vspec .nav-list {
		font-size: 16px;
		line-height: 20px;
		letter-spacing: normal;
		word-spacing: normal;
	}
}

.vspec .nav-list li {
	display: inline-block;
	margin: 0.3em 0.6em 0.3em 0;
}

.vspec .nav-list a {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.vspec .nav-list a::before, .vspec .nav-list a::after {
	display: none;
}

.vspec .main {
	padding-top: 2.4em;
	padding-bottom: 2.4em;
}

.vspec .content {
	background: none;
}

.vspec .wrapper {
	min-height: 0;
	height: auto;
	overflow-y: visible;
	overflow-x: hidden;
	z-index: 6;
}

.vspec .footer {
	border-top: 2px solid currentColor;
	padding: 20px 0;
}

.vspec .btn-menu {
	display: none !important;
}

.vspec a > span {
	border-bottom: none !important;
}

.vspec [class*="icon-"] {
	font-style: normal;
}

.vspec .breadcrumbs {
	font-size: 0.89em;
	line-height: 1.75;
}

.vspec .breadcrumbs-list li, .vspec .breadcrumbs-list a, .vspec .breadcrumbs-list span {
	display: inline;
	vertical-align: baseline;
	line-height: inherit;
	white-space: normal;
}

.vspec .breadcrumbs-list li {
	padding: 0;
	margin: 0 0.4em 0 0;
}

.vspec .breadcrumbs-list li::before {
	color: inherit;
}

.vspec .breadcrumbs-list li::before, .vspec .breadcrumbs-list li:first-child::before {
	position: relative;
	left: auto;
	top: auto;
	display: inline;
	background: none;
	width: auto;
	height: auto;
	border: none;
	margin: 0 0.4em 0 0;
}

.vspec .breadcrumbs-list li:last-child > span {
	display: inline;
	white-space: normal;
	max-width: none;
	overflow: visible;
	text-overflow: unset;
}

.vspec .breadcrumbs-list a:hover, .vspec .breadcrumbs-list a:focus {
	color: inherit;
}

.vspec .user-form {
	background: none;
}

.vspec .user-form .input-wrap::before, .vspec .user-form .input-wrap:after {
	display: none;
}

.vspec .user-form .label-holder {
	float: none;
	width: auto;
	padding: 0;
	margin-bottom: 3px;
}

.vspec .user-form .label-holder::before {
	display: none;
}

.vspec .user-form .label-holder label, .vspec .user-form .label-holder .label {
	max-width: none;
	display: inline;
	vertical-align: initial;
}

.vspec .user-form .input-holder {
	margin-left: 0;
}

.vspec .user-form .form-footer {
	margin-left: 0;
	padding-left: 0;
}

.vspec .user-form .form-buttons {
	float: none;
	margin-right: 0;
	margin-bottom: 0.6em;
}

.vspec .user-form .form-buttons:last-child {
	margin-bottom: 0;
}

.vspec .user-form .form-buttons .btn-submit {
	width: auto;
}

.vspec .user-form .form-note {
	height: auto;
	margin-bottom: 0.6em;
}

.vspec .user-form .form-note:last-child {
	margin-bottom: 0;
}

.vspec .user-form .form-note::before {
	display: none;
}

.vspec .user-form .form-note__item {
	width: auto;
	display: block;
}

.vspec .jFiler {
	color: inherit;
}

.vspec .jFiler-input-dragDrop {
	background-color: #fff;
	border: 2px dashed currentColor;
	color: currentColor;
}

.vspec-mod_scheme-color_white .vspec .jFiler-input-dragDrop {
	background-color: #000;
}

.vspec-mod_scheme-color_blue .vspec .jFiler-input-dragDrop {
	background-color: #c8e5ff;
}

.vspec-mod_scheme-color_brown .vspec .jFiler-input-dragDrop {
	background-color: #f7f3d6;
}

.vspec-mod_scheme-color_green .vspec .jFiler-input-dragDrop {
	background-color: #3b2716;
}

.vspec .jFiler-input-icon {
	display: none !important;
}

.vspec .jFiler-input-text strong {
	font-family: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	text-align: left;
	text-transform: none;
	white-space: normal;
	text-align: center;
}

.vspec .btn-default span {
	border: none;
}

.vspec .btn-default .arrow-more {
	display: none;
}

.vspec .tbl tbody tr:nth-child(even) td {
	background: none;
}

.vspec .tbl tfoot td {
	font-family: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	text-align: left;
	text-transform: none;
	white-space: normal;
	font-weight: bold;
	background: none;
}

.vspec .file {
	display: inline-block;
	vertical-align: top;
	height: auto !important;
}

.vspec .file [class*="depict-files-"] {
	float: left;
	position: relative;
	left: auto;
	top: auto;
	margin: 0.5em 20px 0 0;
}

.vspec .file .file__content {
	overflow: hidden;
}

.vspec .file:hover [class*="depict-files-"]::before,
.vspec .file:hover [class*=" depict-files-"]::before {
	opacity: 1;
}

.vspec .file:hover [class*="depict-files-"]::after,
.vspec .file:hover [class*=" depict-files-"]::after {
	display: none;
}

.vspec .file:hover .file__title,
.vspec .file:hover .file__info {
	color: inherit;
}

.vspec .catalog-menu {
	background: none;
	box-sizing: border-box;
}

.vspec .catalog-menu::after {
	content: none;
}

.vspec .catalog-menu-list {
	width: 100%;
	box-shadow: none;
	visibility: visible;
	word-wrap: break-word;
	padding: 1em;
	border: 2px solid currentColor;
}

.vspec .catalog-menu-list li {
	padding: 0;
	transition: none;
	box-sizing: border-box;
	float: none;
	display: inline;
	width: auto;
	margin: 0 1em 0 0;
}

.vspec .catalog-menu-list li::before, .vspec .catalog-menu-list li::after {
	border-color: currentColor;
	display: none;
}

.vspec .catalog-menu-list a {
	display: inline;
	box-shadow: none;
	box-sizing: border-box;
	height: auto;
	padding: 0;
	font-family: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	text-align: left;
	text-transform: none;
	white-space: normal;
}

.vspec .catalog-menu-list a::before {
	content: none;
}

.vspec .catalog-menu-list a:hover {
	color: currentColor !important;
	background: none !important;
	box-shadow: none;
}

.vspec .catalog-menu-list a span {
	display: inline;
	vertical-align: baseline;
	max-width: none;
}

.vspec .catalog-menu-list .has-submenu {
	display: block;
	margin: 1em 0 0 0;
}

.vspec .catalog-menu-list .has-submenu:first-child {
	margin-top: 0;
}

.vspec .catalog-menu-list .has-submenu > a {
	color: currentColor;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	text-transform: uppercase;
}

.vspec .catalog-menu-list .has-submenu ul {
	margin: 0;
}

.vspec .catalog-menu-list .has-submenu ul::before, .vspec .catalog-menu-list .has-submenu ul::after {
	display: none;
}

.vspec .catalog-menu-list .has-submenu ul a {
	padding-left: 0;
}

.vspec .catalog-menu-list .has-submenu ul a::after {
	border-color: currentColor;
	display: none;
}

.vspec .movie__item h3 {
	height: auto !important;
}

.vspec .movie__text {
	height: auto !important;
}

.vspec .movie__video-img {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.vspec .movie__video-img i {
	display: none;
}

.vspec .movie__video-img::after {
	display: none;
}

.vspec .movie__video-img > span {
	display: block;
}

.vspec .call-content h2 {
	max-width: none;
}

.vspec .social-networks li {
	display: inline-block;
	vertical-align: top;
	margin-right: 1em;
	margin-bottom: 1em;
}

.vspec .social-networks a {
	float: none;
	text-indent: 0;
	overflow: visible;
	width: auto;
	height: auto;
	border: none;
	border-radius: 0;
	box-sizing: border-box;
	transition: none;
	font-weight: bold;
}

.vspec .developer-box {
	text-align: right;
}

.vspec .developer {
	font-size: 14px;
	line-height: 18px;
	text-align: left;
	opacity: 0.8;
	display: inline;
	height: auto;
	width: auto;
	position: relative;
	bottom: auto;
	left: auto;
	text-indent: 0;
	overflow: visible;
	border: none;
	background: none;
	box-sizing: border-box;
}

.vspec .unif-form .field.error, .vspec .unif-form .field.error .uploader .action {
	background: none;
}

.vspec .unif-form .errors {
	padding: 0 0.5em;
	font-weight: bold;
	font-style: italic;
}

.vspec .btn-submit > span,
.vspec .btn-reset > span {
	opacity: 1 !important;
	max-width: none !important;
}

.vspec .r-tabs-panel {
	display: block !important;
	opacity: 1 !important;
}

.vspec .r-tabs-anchor {
	text-decoration: none;
	cursor: default;
}

.vspec .faq-item h3, .vspec .terminals-item h3 {
	max-height: none;
	height: auto;
	box-shadow: none;
	color: inherit;
	cursor: initial;
	margin-bottom: 0.6em;
}

.vspec .faq-item h3::before, .vspec .terminals-item h3::before {
	content: none;
}

.vspec .faq-item h3 .text-inner, .vspec .terminals-item h3 .text-inner {
	display: inline;
	vertical-align: top;
	width: auto;
	font-size: inherit;
	letter-spacing: inherit;
}

.vspec .faq-item h3 + div, .vspec .faq-item h3 + p, .vspec .terminals-item h3 + div, .vspec .terminals-item h3 + p {
	display: block !important;
	height: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	overflow: visible !important;
}

.vspec .faq-item:hover .terminals-item__holder, .vspec .faq-item.active .terminals-item__holder, .vspec .terminals-item:hover .terminals-item__holder, .vspec .terminals-item.active .terminals-item__holder {
	box-shadow: none;
	transition: none;
}

.vspec .heading + .default-section .title-box {
	padding: 0;
}

.vspec .news-article a {
	min-height: 0 !important;
	text-decoration: none;
}

.vspec .news-article h3 {
	min-height: 0;
	transition: none;
	text-decoration: underline;
}

.vspec .news-article a:hover time, .vspec .news-article a:hover h3, .vspec .news-article a:hover p {
	color: inherit;
	text-decoration: none;
}

.vspec .news-article figure img {
	position: relative;
	left: auto;
	top: auto;
	width: 320px;
	max-width: 100%;
	margin: 0;
}

.vspec .advantages-item h3, .vspec .advantages-item p {
	height: auto !important;
}

.vspec .cells-list > li {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}

.vspec .cells-list > li a {
	display: inline;
}

.vspec .cells-list > li a::before {
	display: none;
}

.vspec .cells-list > li a img {
	vertical-align: top;
	width: auto;
	max-width: 100%;
	max-height: none;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	-ms-transform: none;
	    transform: none;
	transition: none;
}

.vspec .cells-list > li a > span {
	display: block;
}

.vspec .cells-list > li a:hover {
	box-shadow: none;
	transition: none;
}

.vspec .easy-text {
	display: inline;
	transition: none;
}

.vspec .easy-item a:hover .easy-text {
	-ms-transform: none;
	    transform: none;
	transition: none;
}

.vspec .multi-search__field input[type="text"] {
	margin: 0;
	padding-right: 45px;
}

.vspec .multi-search__field input[type="text"]:hover, .vspec .multi-search__field input[type="text"]:focus {
	border-color: currentColor;
}

.vspec .multi-search__field i::before {
	border-color: currentColor;
}

.vspec .multi-search__field i::after {
	background-color: currentColor;
}

.vspec .ui-autocomplete {
	border-color: currentColor;
	background-color: #fff;
	font-family: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	text-align: left;
	text-transform: none;
	white-space: normal;
	box-shadow: none;
}

.vspec-mod_scheme-color_white .vspec .ui-autocomplete {
	background-color: #000;
}

.vspec-mod_scheme-color_blue .vspec .ui-autocomplete {
	background-color: #c8e5ff;
}

.vspec-mod_scheme-color_brown .vspec .ui-autocomplete {
	background-color: #f7f3d6;
}

.vspec-mod_scheme-color_green .vspec .ui-autocomplete {
	background-color: #3b2716;
}

.vspec .ui-menu-item {
	font-family: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	text-align: left;
	text-transform: none;
	white-space: normal;
	transition: none;
}

.vspec .ui-menu-item.ui-state-focus {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.vspec-mod_scheme-color_white .vspec .ui-menu-item.ui-state-focus {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

.vspec-mod_scheme-color_blue .vspec .ui-menu-item.ui-state-focus {
	color: #c8e5ff;
	background-color: #004c92;
	border-color: #004c92;
}

.vspec-mod_scheme-color_brown .vspec .ui-menu-item.ui-state-focus {
	color: #f7f3d6;
	background-color: #4d4b43;
	border-color: #4d4b43;
}

.vspec-mod_scheme-color_green .vspec .ui-menu-item.ui-state-focus {
	color: #3b2716;
	background-color: #a9e44d;
	border-color: #a9e44d;
}

.vspec .structure__list ul {
	display: block !important;
	height: auto !important;
	padding: 0 !important;
	margin: 0 !important;
}

.vspec .structure__list li {
	position: relative;
}

.vspec .structure__list li::after {
	display: none;
}

.vspec .structure__list > li {
	padding-left: 0 !important;
}

.vspec .structure__list > li > .structure__title {
	margin-bottom: 1.2em;
}

.vspec .structure__list > li > .structure__title .structure__inner {
	font-weight: bold;
	font-size: 1.22em;
	line-height: 1.55;
}

.vspec .structure__title {
	position: relative;
	transition: none;
}

.vspec .structure__list li:hover > .structure__title {
	background: none;
}

.vspec .qr-code-btn {
	border: 1px solid currentColor;
	background-color: #fff;
}

.vspec-mod_scheme-color_white .vspec .qr-code-btn {
	background-color: #000;
}

.vspec-mod_scheme-color_blue .vspec .qr-code-btn {
	background-color: #c8e5ff;
}

.vspec-mod_scheme-color_brown .vspec .qr-code-btn {
	background-color: #f7f3d6;
}

.vspec-mod_scheme-color_green .vspec .qr-code-btn {
	background-color: #3b2716;
}

.vspec .qr-code-btn:hover {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.vspec-mod_scheme-color_white .vspec .qr-code-btn:hover {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

.vspec-mod_scheme-color_blue .vspec .qr-code-btn:hover {
	color: #c8e5ff;
	background-color: #004c92;
	border-color: #004c92;
}

.vspec-mod_scheme-color_brown .vspec .qr-code-btn:hover {
	color: #f7f3d6;
	background-color: #4d4b43;
	border-color: #4d4b43;
}

.vspec-mod_scheme-color_green .vspec .qr-code-btn:hover {
	color: #3b2716;
	background-color: #a9e44d;
	border-color: #a9e44d;
}

.vspec .qr-code-btn::after {
	display: none;
}

.vspec .popup-default__close {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.vspec-mod_scheme-color_white .vspec .popup-default__close {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

.vspec-mod_scheme-color_blue .vspec .popup-default__close {
	color: #c8e5ff;
	background-color: #004c92;
	border-color: #004c92;
}

.vspec-mod_scheme-color_brown .vspec .popup-default__close {
	color: #f7f3d6;
	background-color: #4d4b43;
	border-color: #4d4b43;
}

.vspec-mod_scheme-color_green .vspec .popup-default__close {
	color: #3b2716;
	background-color: #a9e44d;
	border-color: #a9e44d;
}

.vspec .popup-default__close::before, .vspec .popup-default__close::after {
	background-color: #fff;
}

.vspec-mod_scheme-color_white .vspec .popup-default__close::before, .vspec-mod_scheme-color_white .vspec .popup-default__close::after {
	background-color: #000;
}

.vspec-mod_scheme-color_blue .vspec .popup-default__close::before, .vspec-mod_scheme-color_blue .vspec .popup-default__close::after {
	background-color: #c8e5ff;
}

.vspec-mod_scheme-color_brown .vspec .popup-default__close::before, .vspec-mod_scheme-color_brown .vspec .popup-default__close::after {
	background-color: #f7f3d6;
}

.vspec-mod_scheme-color_green .vspec .popup-default__close::before, .vspec-mod_scheme-color_green .vspec .popup-default__close::after {
	background-color: #3b2716;
}

.vspec .popup-default__close:hover {
	background-color: #fff;
}

.vspec-mod_scheme-color_white .vspec .popup-default__close:hover {
	background-color: #000;
}

.vspec-mod_scheme-color_blue .vspec .popup-default__close:hover {
	background-color: #c8e5ff;
}

.vspec-mod_scheme-color_brown .vspec .popup-default__close:hover {
	background-color: #f7f3d6;
}

.vspec-mod_scheme-color_green .vspec .popup-default__close:hover {
	background-color: #3b2716;
}

.vspec .popup-default__close:hover::before, .vspec .popup-default__close:hover::after {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.vspec-mod_scheme-color_white .vspec .popup-default__close:hover::before, .vspec-mod_scheme-color_white .vspec .popup-default__close:hover::after {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

.vspec-mod_scheme-color_blue .vspec .popup-default__close:hover::before, .vspec-mod_scheme-color_blue .vspec .popup-default__close:hover::after {
	color: #c8e5ff;
	background-color: #004c92;
	border-color: #004c92;
}

.vspec-mod_scheme-color_brown .vspec .popup-default__close:hover::before, .vspec-mod_scheme-color_brown .vspec .popup-default__close:hover::after {
	color: #f7f3d6;
	background-color: #4d4b43;
	border-color: #4d4b43;
}

.vspec-mod_scheme-color_green .vspec .popup-default__close:hover::before, .vspec-mod_scheme-color_green .vspec .popup-default__close:hover::after {
	color: #3b2716;
	background-color: #a9e44d;
	border-color: #a9e44d;
}

.vspec [style*="font-size"] {
	font-size: inherit !important;
}

.vspec [style*="line-height"] {
	line-height: inherit !important;
}

.vspec [style*="color"] {
	color: inherit !important;
}

/*=========== SPECIAL VERSION end =========== */

/*# sourceMappingURL=special-version.css.map */
